/*!
 * Project_Name:  Aman & Ankita Diatecian Template
 * Author:  Aman & Ankita
 * Email: info@ Aman & Ankita.com
 * URL: http:// Aman & Ankita.com
 */

/*=========================================== 
 * Importing CSS Libraries
 *===========================================*/
 @import 	"libs/settings",
 			"libs/mixins",
 			"libs/normalize",
 			"libs/global",
 			"libs/components",

 			// importing bootstrap grid framework
 			"libs/bootstrap-grid/settings",
 			"libs/bootstrap-grid/mixins",
 			"libs/bootstrap-grid/grid",

			// importing layout styles
 			"layout/header",
 			"layout/content",
 			"layout/footer";
			