<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->

<head>
    <!-- Load Google font on the first <head> to prevent error in IE -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600,800,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />   
    <title>Lela Fitness - Parental Pregnancy</title>
    <meta name="author" content="Burger Bar" />
    <meta name="description" content="Burger Bar Description" />
    <meta name="keywords"  content="Burger Bar Keyword" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    

    <!-- Using IE Conditional to load stylesheet, Load style.less for all browser except lower than IE 9. Lower than IE9 using style.css -->

    <link rel="stylesheet/less" type="text/css" href="../static/css/style.less" />


    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />


    <link rel="stylesheet/less" type="text/css" href="../static/css/style.less" />

   
	<style>
    /* Orange text gradient only for Webkit (Chrome and Safari) */
    .webkit #our-team h4.sub-title, .webkit #foods h4.sub-title {
        background: #ef9e10; /* Old browsers */
        background: -moz-linear-gradient(left,  #ef9e10 40%, #ef6910 60%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(40%,#ef9e10), color-stop(60%,#ef6910)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  #ef9e10 40%,#ef6910 60%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  #ef9e10 40%,#ef6910 60%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  #ef9e10 40%,#ef6910 60%); /* IE10+ */
        background: linear-gradient(to right,  #ef9e10 40%,#ef6910 60%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef9e10', endColorstr='#ef6910',GradientType=1 ); /* IE6-9 */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    </style>

    <!-- Option for Less JS -->
    <script>
      less = {
        env: "development",
        async: false,
        fileAsync: false,
        poll: 1000,
        functions: {},
        dumpLineNumbers: "comments",
        relativeUrls: false
      };
    </script>
    <script type="text/javascript" src="../static/js/less.min.js"></script>
    <script type="text/javascript" src="../static/js/retina.min.js"></script>
	<script type="text/javascript" src="../static/js/modernizr.custom.71422.js"></script>
</head>

<body>
    <!-- Menu -->
    <nav class="menu menu-left">
        <div class="close-menu-btn icon-menu active">&nbsp;</div>    
        <ul>
            <li><a href="/f_home">Home</a></li>
            <li><a href="/f_about">About Us</a></li>
            <li><a href="/f_gym">Fitness</a></li>
            <li><a href="/f_contact">Contact</a></li>
        </ul>
    </nav>
    <div class="menu-btn"><span class="icon-menu">&nbsp;</span> Menu</div>

    
    <!-- Site Overlay -->
    <div class="site-overlay"></div>

    <!-- Your Content -->
    <div id="container">

        <div class="container">
            <div class="main-container row">
                <div id="logo">
                    <a href="/">
                        <div class="logo-icon"><img src="https://i.postimg.cc/wxfykpRf/lelalogo.png" height="80px" width= "62px"/></div>
                        <div class="logo-type">Lela</div>
                        <div class="logo-slogan">Shape it up!</div> 
                    </a> 
                </div>
            </div>
        </div>

        <div id="full-width-header" class="full-width">
            <div class="triangle top"></div>
            <div class="inner">
                <div class="slide">
                    <div class="inner-slide">
                        <img src="https://i.postimg.cc/Jnrj3mTN/jonathan-borba-bpo-Ly-Sr6-P-E-unsplash.jpg" width="1439" height="720">
                    </div>
                </div>
            </div>
            <div class="triangle bottom"></div>
        </div>
        
        <div class="clear"></div>

        <div class="container full-page">
            <div id="about-us" class="main-container">
                <div class="row">
                    <div class="main-content col">
                        <div class="title">
                            <h1>Yoga and pregnancy: A safe, effective fitness option for moms-to-be</h1>
                        </div>
                        <div class="intro">
                            <h2>Yoga is a way to think, breathe, and move. Instead of letting your thoughts and feelings control you, take a deep breath and let go of them.</h2>
                        </div>
                        <div class="content">
                            <p>You’re expecting?! Congratulations! You must be – excited, scared, happy, and overwhelmed – all at the same time.
                                It’s difficult to put your finger on just what you’re feeling, isn’t it? The kicks are delightful, but the cramps are debilitating. 
                                You might be glowing with enthusiasm one moment and overcome with emotion the next. Nothing quite explains the feeling of having a life growing inside you. You may also experience a fair share of mood swings; courtesy of hormonal changes.
                                This is precisely why yoga can be a godsend for you during pregnancy.
                            </p>
                            <div class="content-thumbnail half align-left">
                                <img src="https://i.postimg.cc/5Nh7BY88/sergiu-valena-w-Syuye-BMz-Do-unsplash.jpg"/>
                            </div>
                            <p>Yoga provides holistic health benefits for to-be-mothers:
                                Yoga asanas help keep the body supple. They relieve tension around the cervix by opening up the pelvic region. This prepares to-be-mothers for labor and delivery.
                                Yoga and pranayamas can train you to breathe deeply and relax consciously, helping you face the demands of labor and childbirth.
                                Yoga helps alleviate the effect of common symptoms such as morning sickness, painful leg cramps, swollen ankles, and constipation.
                                Yoga asanas also help pregnant women recover faster post-delivery. </p><p>Some women are concerned about certain poses potentially wrapping their babies up in the umbilical cord or making them uncomfortable in the uterus, but that’s not the case. A study that appeared in Obstetrics & Gynecology monitored fetuses and women between 35 and 38 weeks of pregnancy as they performed 26 different yoga poses. The study found:

                                    No changes in the babies’ heart rate.
                                    No changes in fetal movement.
                                    No changes in the women’s heart rate, temperature, or oxygen levels in the blood.
                                    No contractions, fluid leakage, or vaginal bleeding.
                                    The one form of yoga we recommend avoiding during pregnancy is hot yoga, which is when yoga poses are performed in a heated studio. The effects of hot yoga haven’t been well studied in pregnant women, but research has shown that too much heat very early in pregnancy might increase the risk of neural tube defects, a birth defect that involves a malformation of the spine or skull.
                                    Most other forms of yoga are safe throughout pregnancy, though you might need to modify your workout to accommodate your growing belly and altered center of gravity. Talk to your nurse or doctor to let them know you plan to do yoga during your pregnancy. It’s usually no problem, especially if you’ve been doing yoga before you got pregnant. However, there are some conditions that might warrant further precaution, such as:
                                    A smaller-than-normal baby, also known as intrauterine growth restriction.
                                    High risk of preterm labor.
                                    Pregnancy with twins, triplets, or other multiples.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="clear"></div>

        <div class="container full-page">
            <div id="our-team" class="main-container">
                <div class="row">
                    <div class="title col">
                        <h1>Yoga poses for women during pregnancy</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="team col">
                        <div class="team-photo">
                            <img src="https://cdn3.iconfinder.com/data/icons/yoga-pose-set-1-1/512/cat-pose-Marjaryasana-yoga-exercise-1024.png"/>
                        </div>
                        <div class="team-name">
                            <h3>Marjaryasana</h3>
                            <h4 class="sub-title">Stretches the neck and shoulders, alleviating stiffness.
                                This is useful because the back has to support more weight as the pregnancy advances.
                                Tones the abdominal region. Improves blood circulation, ensuring that the reproductive organs are well nourished.</h4>
                        </div>
                    </div>
                    <div class="team col">
                        <div class="team-photo">
                            <img src="https://cdn3.iconfinder.com/data/icons/yoga-pose-set-1-1/512/extended-triangle-pose-Trikonasana-yoga-exercise-1024.png"/>
                        </div>
                        <div class="team-name">
                            <h3>Trikonasana</h3>
                            <h4 class="sub-title">Maintains physical and mental balance. Especially useful for pregnant women since their center of gravity shifts.
                                Stretches and opens the hips which can be a big help during delivery. Reduces back pain and stress.</h4>
                        </div>
                    </div>
                    <div class="team col">
                        <div class="team-photo">
                            <img src="https://cdn3.iconfinder.com/data/icons/yoga-pose-set-1-1/512/corpse-pose-Shavasana-yoga-exercise-1024.png"/>
                        </div>
                        <div class="team-name">
                            <h3>Shavasana</h3>
                            <h4 class="sub-title">Relaxes the body and repairs cells. This helps self-healing which is vital, as pregnant women should avoid taking pills.
                                Relieves stress. Reduces tension and anxiety.
                                Helps regulate blood pressure.
                                Deeply relaxes every cell in the body.</h4>
                        </div>
                    </div>
                    <div class="team col">
                        <div class="team-photo">
                            <img src="https://cdn3.iconfinder.com/data/icons/yoga-pose-set-1-1/512/headstand-pose-Sirsasana-yoga-exercise-1024.png"/>
                        </div> 
                        <div class="team-name">
                            <h3>Sirsasana</h3>
                            <h4 class="sub-title">This modification of the head-to-knee pose will help strengthen your back muscles to support the pressure on your lower back from the growing belly.
                                 It tones the pituitary gland which is the master gland that influences the functioning of the rest of the endocrine glands. </h4>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        
        <div class="clear space-area"></div>
        
        <div class="triangle top footer"></div>
        <div class="container footer">
            <div id="footer" class="main-container">
                <div class="footer-top row">
                    <div class="footer-info col">
                        <div class="footer-logo">
                            <div class="logo-icon"><img src="https://i.postimg.cc/wxfykpRf/lelalogo.png" height="60px" width= "62px" /></div>
                        </div>
                        <div class="footer-address">
                            Lela</br>Sateesh Supari Street, Hyderabad
                        </div>
                        <div class="footer-contact">
                            +91 9876789879<br/><a href="#">contact@lela.com</a>
                        </div>
                    </div>
                    <div class="footer-newsletter col">
                        <div class="footer-newsletter-container">
                            <form id="subscribe-newsletter">
                                <input type="email" class="footer-input-text" placeholder="Enter your email to join newsletter..."/>
                                <input type="submit" class="button grey-button footer-input-submit" value="Subscribe"/>
                            </form>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="footer-bottom row">
                    <div class="footer-copyright col">
                        <div class="footer-copyright-text">Copyright 2021 Lela Dietician. Designed by Aman. All right reserved.</div>
                    </div>
                    <div class="footer-social-media col">
                        <div class="social-media-icon">
                            <span class="icon-social-media icon-facebook">&nbsp;</span>
                            <span class="icon-social-media icon-twitter">&nbsp;</span>
                            <span class="icon-social-media icon-google">&nbsp;</span>
                            <span class="icon-social-media icon-pinterest">&nbsp;</span>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
       
    </div>


    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/pushy.js"></script>
    <script type="text/javascript" src="../static/js/slider.js"></script>
    <script type="text/javascript" src="../static/js/browser.selector.js"></script>
    <script type="text/javascript" src="../static/js/fastclick.js"></script>
    <script type="text/javascript" src="../static/js/script.js"></script>
</body>