<!DOCTYPE html>
<!--[if lte IE 8]> <html class="oldie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no">
	<title>Lela Health - Allergies</title>
	<link href='http://fonts.googleapis.com/css?family=Gochi+Hand|Arvo:400,700' rel='stylesheet' type='text/css'>
	<link href="css/jquery.bxslider.css" rel="stylesheet" />
	<link rel="stylesheet" href="../static/css/style_h.css" />
	<link rel = "icon" href = "https://i.postimg.cc/wxfykpRf/lelalogo.png" type = "image/x-icon">
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="wrapper" class="events">
		<div class="wrapper-holder">
			<header id="header">
				<div class="left-part"></div>
				<a id="logo" href="index.html"></a>
				<div class="bar-holder">
					<a class="menu_trigger" href="#">menu</a>
					<nav id="nav">
						<ul>
							<!-- <li><a href="/h_about">About us</a></li> -->
							<li><a class="active" href="/h_events">Events</a></li>
							<li><a href="/h_index">Home</a></li>
							<li><a href="/h_gallery">Gallery</a></li>

						</ul>
					</nav>
				</div>
			</header>
			<div class="dvdr"></div>
			<div class="container">
				<section id="main">
					<h1>ALLERGIES & INTOLERANCES</h1>
					<ul>
					<li class="event-description">
						<h1><a href="#">Food Allergies</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-04-17T09:00">17 Apr 2014 
							<span>09:00 AM</span></time>
							<span>Lorem ipsum dolor</span> -->
						</div>
						<p>This holiday season, consider how your holiday plans can be altered to reduce the spread of COVID-19. For ideas and recommendations on modifications you can make to make your holiday gathering safer, visit the CDC website.

							Winter holidays bring cheer and abundant festive eating. While common food allergens lurk in many traditional Thanksgiving, Hanukkah, Christmas and Kwanzaa dishes, a little preparation and planning can help you — whether you're a parent of a child with food allergies or hosting guests with food allergies — glide through the holidays safely.
							
							Whether you're eating close to home or traveling to grandma's house, these eight tips will help you feed your child with food allergies safely and more nutritiously this holiday season. </p>
					</li>
					<li class="event-description">
						<h1><a href="#">5 Tips for Avoiding Food Allergens at Home</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-04-22T09:30">22 Apr 2014 
							<span>09:30 AM</span></time>
							<span>Dolor sit amet</span> -->
						</div>
						<p>Because you are in control of what is served, this can be the safest option when managing food allergies. You may choose to prepare only "safe" foods and let guests know what they can and cannot bring into the house. If you do serve foods containing allergens, designate separate areas for foods with the allergen to help prevent cross-contact.
							While cooking from scratch may seem like more work, it helps ensure food and prep areas are free from food allergens. You might even find that you save time in the long run because you don't have to scour every ingredient list.
							Once you know a few simple swaps, you may realize just how easy it is to modify your recipes. Focus on 'like items' when considering swaps: non-dairy milks for cow's milk (or vice-versa), or naturally gluten-free grains for wheat. Eggs in recipes often can be substituted with ground, rehydrated flax or chia seeds.
						</p>
					</li>
					<li class="event-description">
						<h1><a href="#">School Food Options for Kids with Food Allergies</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-04-25T07:45">25 Apr 2014 
							<span>07:45 AM</span></time>
							<span>Lorem ipsum dolor sit</span> -->
						</div>
						<p>The best way for schools to meet the needs of children with food allergies is to work together as a team with the child, the child's parents and the healthcare provider, says Wesley Delbridge, RDN, a spokesperson for the Academy of Nutrition and Dietetics and a school food and nutrition director in Arizona. "Effective communication is key to helping everyone understand the specifics of each food allergy and to try to serve appealing menu items that the children enjoy eating," he says.

						</p>
					</li>
					<li class="event-description">
						<h1><a href="#">Metabolism Myths and Facts</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-05-03T09:00">03 May 2014 
							<span>09:00 AM</span></time>
							<span>Aliquam erat volutpat</span> -->
						</div>
						<p>Claim: Our metabolic rates can't change. 
							The truth: While it's true that genetics help determine our metabolic rates, we can boost metabolism by increasing lean muscle mass. Muscle is metabolically active, which means that people with lean, muscular bodies need more energy to function than people with a higher percentage of body fat.
							Our muscle mass decreases as we age, and this contributes to a slower metabolic rate. But you can counteract this process by picking up the weights to help lessen this decline.

							Claim: A diet of green tea and chili peppers will boost metabolism.
							The truth: No magic food will speed up metabolism. Some studies have shown that green tea and hot chilies temporarily boost metabolic rates, but the lift isn't very significant.

							The path to a healthy lifestyle includes a balanced eating pattern filled with nutrient-rich foods.

							Claim: Eating late at night slows metabolism.
							The truth: There is little evidence to support the fact that eating after 8 p.m. causes weight gain. However, you may be more likely to snack mindlessly in the evenings while watching television.
							Eat regular meals and snacks throughout the day to prevent extreme swings in hunger and fullness. If you're eating later in the evening, do so mindfully and put away the snacks when you're satisfied.

							Claim: Very low calorie diets and skipping meals can jumpstart weight loss.
							The truth: Creating a large calorie deficit in attempts to lose weight can backfire. Our bodies are smart and programmed for survival. Severely limiting calories can make your body think it's entering a famine, and that it needs to do more with fewer calories. Your body adapts to the restricted caloric intake, and uses fewer calories to perform the same tasks.

							Resist the urge to diet and instead prioritize healthful foods, including whole grains, legumes, vegetables and fruits, and fun physical activity. Don't forget about stress management and proper sleep. These healthy lifestyle behaviors contribute to overall well-being.


						</p>
					</li>
					<!-- <li class="event-description">
						<h2><a href="#">Libero tempore cum soluta nobis est eligendi optio cumque</a></h2>
						<div class="metadata">
							<time datetime="2014-05-08T07:50">08 May 2014 
							<span>07:50 AM</span></time>
							<span>Lorem ipsum</span>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In placerat ipsum dui, quis posuere urna fermentum nec. Aliquam erat volutpat. Quisque pellentesque nulla dui, in rhoncus dui vestibulum ac. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque convallis, sapien in tempus pharetra, leo lectus ultrices purus, vitae vestibulum arcu velit at leo. </p>
					</li> -->
					</ul>
				</section>
				 <aside id="sidebar">
					
					<div class="widget-boxes news">
						<h3>Latest Posts</h3>
						<ul>
						<li class="box">
							<h4><a href="#">Staying healthy is very important</a></h4>
							<div class="metadata">
								<time datetime="2014-04-17">17.08.21</time>
								<span>Pranavi J</span>
							</div>
							<p>Whenever in doubt, don't drink tap or well water or anything that was made with it, including fountain drinks. Your best bet is to opt for sealed, bottled beverages (...)</p>
						</li>
						<li class="box">
							<h4><a href="#">Health is wealth!</a></h4>
							<div class="metadata">
								<time datetime="2014-04-16">16.08.21</time>
								<span>Mounika</span>
							</div>
							<p>For the majority of us ‘Wealth’ means having lots of money, a big piece of land, jewellery, cars, a farm, a flat, a house or any property which has a potential of having monetary value in the market. But this limits the scope and vision (...)</p>
						</li>
						<li class="box">
							<h4><a href="#">Prevent diseases by washing your hands before eating</a></h4>
							<div class="metadata">
								<time datetime="2014-04-13">13.09.21</time>
								<span>Akhil</span>
							</div>
							<p>Whether at home or abroad, proper hand-washing is an important key to preventing foodborne illness (...)</p>
						</li>
						</ul>
					</div>
				</aside>
				<!-- / sidebar -->
			</div>
		</div>
		<div class="top-blue-border"></div>
		<footer id="footer">
			<div class="footer-holder">
				<div class="footer-frame">
					<div class="footer-content">
						<div class="col-holder">
							<div class="col_wrap">
								<div class="col">
									<h3>Our address</h3>
									<address class="map">Sateesh Supari Street, Hyderabad</address>
									<address class="mail"><a href="mailto:contact@kidschool.com">contact@lela.com</a></address>
									<address class="phone">+91 9876789879</address>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Latest posts</h3>
									<ul class="posts">
										<li><a href="#">Staying healthy is very important.</a></li>
										<li><a href="#">Health is wealth!</a></li>
										<li><a href="#">Preventing diseases.</a></li>
										<!-- <li><a href="#">Molestias excepturi sint occaecati</a></li> -->
										<!-- <li><a href="#">Cupiditate provident similique</a></li> -->
									</ul>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Follow us</h3>
									<p class="social">Make sure to follow us on below platforms to get updates.</p>
									<ul class="social">
										<li><a class="facebook" href="#">Facebook</a></li>
										<li><a class="google" href="#">Google+</a></li>
										<li><a class="twitter" href="#">Twitter</a></li>
										<li><a class="pinterest" href="#">Pinterest</a></li>
									</ul>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Newsletter</h3>
									<p class="form-newsletter">Subscribe our newsletter by providing your email.</p>
									<form action="#" class="form-newsletter">
										<fieldset>
											<input type="email" placeholder="Your email..." />
											<input class="btn white" type="submit" value="Subscribe" />
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="footer-bottom">
						<div class="holder">
							<p>Copyright 2021 Lela Dietician. Designed by Aman. All right reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</footer>	
	</div>
	
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="js/jquery.placeholder.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>