<!DOCTYPE html>
<!--[if lte IE 8]> <html class="oldie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no">
	<title>Lela Health - Diseases</title>
	<link href='http://fonts.googleapis.com/css?family=Gochi+Hand|Arvo:400,700' rel='stylesheet' type='text/css'>
	<link href="css/jquery.bxslider.css" rel="stylesheet" />
	<link rel="stylesheet" href="../static/css/style_h.css" />
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="wrapper" class="events">
		<div class="wrapper-holder">
			<header id="header">
				<div class="left-part"></div>
				<a id="logo" href="/"></a>
				<div class="bar-holder">
					<a class="menu_trigger" href="#">menu</a>
					<nav id="nav">
						<ul>
							<li><a href="/h_about">About us</a></li>
							<li><a class="active" href="/h_events">Events</a></li>
							<li><a href="h_gallery">Gallery</a></li>
							<li><a href="h_index">Home</a></li>
						</ul>
					</nav>
				</div>
			</header>
			<div class="dvdr"></div>
			<div class="container">
				<section id="main">
					<h1>DISEASES & CONDITIONS</h1>
					<ul>
					<li class="event-description">
						<h1><a href="#">Autism Spectrum Disorder and Diet</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-04-17T09:00">17 Apr 2014 
							<span>09:00 AM</span></time>
							<span>Lorem ipsum dolor</span> -->
						</div>
						<p>Autism Spectrum Disorder, or ASD, is a complex developmental and neurological condition that typically appears during the first three years of life. It affects brain function, particularly in the areas of social interaction and communication skills. Classic symptoms include delayed talking, lack of interest in playing with other children, not wanting to be held or cuddled and poor eye contact. There is no known cause for ASD, but both genetics and environment are believed to play a role.

							The Centers for Disease Control and Prevention estimates 1 in every 54 American children has been identified with ASD. Boys are more likely to be diagnosed with autism than girls.
							
							People with ASD often may repeat behaviors or have narrow, restricted interests. These types of behavior can affect eating habits and food choices </p>
					</li>
					<li class="event-description">
						<h1><a href="#">Diabetes</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-04-22T09:30">22 Apr 2014 
							<span>09:30 AM</span></time>
							<span>Dolor sit amet</span> -->
						</div>
						<p>Diabetes affects the body's ability to make or properly use insulin. This leads to high blood glucose (sugar) in the blood. Maintaining a healthy blood sugar level is key to managing diabetes.
						   Choosing nutritious foods and watching portion sizes can help you control blood sugar levels. And, a registered dietitian nutritionist, or RDN, can help you learn how to get the nutrients you need.</p>
					</li>
					<li class="event-description">
						<h1><a href="#">Eating Disorders</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-04-25T07:45">25 Apr 2014 
							<span>07:45 AM</span></time>
							<span>Lorem ipsum dolor sit</span> -->
						</div>
						<p>According to the American Psychiatric Association, millions of Americans suffer from an eating disorder and anyone can be affected. People of all sexes, genders, races, ethnicities, shapes and sizes can have an eating disorder.

							All forms of eating disorders can be fatal, and it is critical for anyone with symptoms of an eating disorder to seek professional help. Early treatment gives the greatest chance for a full recovery.
							There are three main types of eating disorders: anorexia nervosa, bulimia nervosa and binge eating disorder.

							Anorexia nervosa involves a severe restriction of calories; there may be a fear of weight gain and strict "rules" about eating. Binge eating followed by purging also may occur.
							Bulimia nervosa can involve these same fears and restrictions, but also involves a lack of control while binge eating may be followed by purging. This could involve vomiting or using laxatives or exercising excessively.
							People with binge eating disorder eat large amounts of food in a short amount of time. Food often is eaten without attention to hunger or fullness and is not purged afterwards.

						</p>
					</li>
					<li class="event-description">
						<h1><a href="#">Celiac Disease: Alleviating Gastrointestinal Symptoms</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-05-03T09:00">03 May 2014 
							<span>09:00 AM</span></time>
							<span>Aliquam erat volutpat</span> -->
						</div>
						<p>Diet is the primary treatment for celiac disease and following a gluten-free diet significantly reduces many symptoms of the condition. People with celiac disease may experience gastrointestinal symptoms like diarrhea, constipation, abdominal pain, bloating, nausea and vomiting, as well as other symptoms.

							Celiac disease may be diagnosed with the use of different tests. A blood test can detect certain antibodies, which are proteins in your blood, and are associated with celiac disease. Another test which is used to confirm a diagnosis of celiac disease is a biopsy of the small intestine. For either of these tests to be accurate, the individual must be consuming gluten on a regular basis. 
							If you believe you may have celiac disease, see your doctor before going on a gluten-free diet.</p>
					</li>
					<!-- <li class="event-description">
						<h2><a href="#">Libero tempore cum soluta nobis est eligendi optio cumque</a></h2>
						<div class="metadata">
							<time datetime="2014-05-08T07:50">08 May 2014 
							<span>07:50 AM</span></time>
							<span>Lorem ipsum</span>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In placerat ipsum dui, quis posuere urna fermentum nec. Aliquam erat volutpat. Quisque pellentesque nulla dui, in rhoncus dui vestibulum ac. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque convallis, sapien in tempus pharetra, leo lectus ultrices purus, vitae vestibulum arcu velit at leo. </p>
					</li> -->
					</ul>
				</section>
				 <aside id="sidebar">
					
					<div class="widget-boxes news">
						<h3>Latest Posts</h3>
						<ul>
						<li class="box">
							<h4><a href="#">Staying healthy is very important</a></h4>
							<div class="metadata">
								<time datetime="2014-04-17">17.08.21</time>
								<span>Pranavi J</span>
							</div>
							<p>Whenever in doubt, don't drink tap or well water or anything that was made with it, including fountain drinks. Your best bet is to opt for sealed, bottled beverages (...)</p>
						</li>
						<li class="box">
							<h4><a href="#">Health is wealth!</a></h4>
							<div class="metadata">
								<time datetime="2014-04-16">16.08.21</time>
								<span>Mounika</span>
							</div>
							<p>For the majority of us ‘Wealth’ means having lots of money, a big piece of land, jewellery, cars, a farm, a flat, a house or any property which has a potential of having monetary value in the market. But this limits the scope and vision (...)</p>
						</li>
						<li class="box">
							<h4><a href="#">Prevent diseases by washing your hands before eating</a></h4>
							<div class="metadata">
								<time datetime="2014-04-13">13.09.21</time>
								<span>Akhil</span>
							</div>
							<p>Whether at home or abroad, proper hand-washing is an important key to preventing foodborne illness (...)</p>
						</li>
						</ul>
					</div>
				</aside>
				<!-- / sidebar -->
			</div>
		</div>
		<div class="top-blue-border"></div>
		<footer id="footer">
			<div class="footer-holder">
				<div class="footer-frame">
					<div class="footer-content">
						<div class="col-holder">
							<div class="col_wrap">
								<div class="col">
									<h3>Our address</h3>
									<address class="map">Sateesh Supari Street, Hyderabad</address>
									<address class="mail"><a href="mailto:contact@kidschool.com">contact@lela.com</a></address>
									<address class="phone">+91 9876789879</address>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Latest posts</h3>
									<ul class="posts">
										<li><a href="#">Staying healthy is very important.</a></li>
										<li><a href="#">Health is wealth!</a></li>
										<li><a href="#">Preventing diseases.</a></li>
										<!-- <li><a href="#">Molestias excepturi sint occaecati</a></li> -->
										<!-- <li><a href="#">Cupiditate provident similique</a></li> -->
									</ul>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Follow us</h3>
									<p class="social">Make sure to follow us on below platforms to get updates.</p>
									<ul class="social">
										<li><a class="facebook" href="#">Facebook</a></li>
										<li><a class="google" href="#">Google+</a></li>
										<li><a class="twitter" href="#">Twitter</a></li>
										<li><a class="pinterest" href="#">Pinterest</a></li>
									</ul>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Newsletter</h3>
									<p class="form-newsletter">Subscribe our newsletter by providing your email.</p>
									<form action="#" class="form-newsletter">
										<fieldset>
											<input type="email" placeholder="Your email..." />
											<input class="btn white" type="submit" value="Subscribe" />
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="footer-bottom">
						<div class="holder">
							<p>Copyright 2021 Lela Dietician. Designed by Aman. All right reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</footer>	
	</div>
	
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="js/jquery.placeholder.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>