<!DOCTYPE html>
<!--[if lte IE 8]> <html class="oldie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no">
	<title>Lela Health - Events</title>
	<link href='http://fonts.googleapis.com/css?family=Gochi+Hand|Arvo:400,700' rel='stylesheet' type='text/css'>
	<link href="css/jquery.bxslider.css" rel="stylesheet" />
	<link rel="stylesheet" href="../static/css/style_h.css" />
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="wrapper" class="events">
		<div class="wrapper-holder">
			<header id="header">
				<div class="left-part"></div>
				<a id="logo" href="/"></a>
				<div class="bar-holder">
					<a class="menu_trigger" href="#">menu</a>
					<nav id="nav">
						<ul>
							<!-- <li><a href="/h_about">About us</a></li> -->
							<li><a class="active" href="h_events">Events</a></li>
							<li><a href="/h_index">Home</a></li>
							<li><a href="/h_gallery">Gallery</a></li>

						</ul>
					</nav>
				</div>
			</header>
			<div class="dvdr"></div>
			<div class="container">
				<section id="main">
					<h1>Upcoming events</h1>
					<ul>
					<li class="event-description">
						<h2><a href="#">Importance of fitness</a></h2>
						<div class="metadata">
							<time datetime="2014-04-17T09:00">17 Sep 2021 
							<span>09:00 AM</span></time>
							<span>Online Event</span>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In placerat ipsum dui, quis posuere urna fermentum nec. Aliquam erat volutpat. Quisque pellentesque nulla dui, in rhoncus dui vestibulum ac. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque convallis, sapien in tempus pharetra, leo lectus ultrices purus, vitae vestibulum arcu velit at leo. </p>
					</li>
					<li class="event-description">
						<h2><a href="#">Home workout and excerise</a></h2>
						<div class="metadata">
							<time datetime="2014-04-22T09:30">22 Sep 2021  
							<span>09:30 AM</span></time>
							<span>Online Event</span>
						</div>
						<p>Aliquam erat volutpat. Quisque pellentesque nulla dui, in rhoncus dui vestibulum ac. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque convallis, sapien in tempus pharetra, leo lectus ultrices purus, vitae vestibulum arcu velit at leo. </p>
					</li>
					<li class="event-description">
						<h2><a href="#">Providing healthy food for children</a></h2>
						<div class="metadata">
							<time datetime="2014-04-25T07:45">25 Sep 2021  
							<span>07:45 AM</span></time>
							<span>Online Event</span>
						</div>
						<p>Pellentesque libero nulla, interdum eu lobortis et, scelerisque in enim. Vestibulum accumsan a est in rutrum. Nam molestie mauris eget lacus rutrum, in varius leo volutpat. Integer non tellus pellentesque, faucibus orci ac, interdum arcu. Nam cursus quis arcu eget pharetra. Nulla tellus nulla, rhoncus et venenatis eu, viverra non quam. Vestibulum euismod sem ac ante porta, vitae vestibulum justo semper. Ut sem arcu, porttitor et metus quis.</p>
					</li>
					</ul>
				</section>
				<aside id="sidebar">
					<div class="widget-calendar">
						<h3>Event calendar</h3>
						<div class="wrap-calendar">
							<table class="event-calendar">
								<col><col><col><col><col><col><col>
								<thead>
								<tr>
									<th scope="col" class="controls"><span class="prev-mn"><a href="#">-</a></span></th>
									<th scope="col" colspan="5" class="month">September 2021</th>
									<th scope="col" class="controls"><span class="next-mn"><a href="#">-</a></span></th>
								</tr>
								<tr>
									<th scope="col" title="Monday">Mon</th>
									<th scope="col" title="Tuesday">Tue</th>
									<th scope="col" title="Wednesday">Wed</th>
									<th scope="col" title="Thursday">Thu</th>
									<th scope="col" title="Friday">Fri</th>
									<th scope="col" title="Saturday">Sat</th>
									<th scope="col" title="Sunday">Sun</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td><div class="cell-wrap another-day">31</div></td><td><div class="cell-wrap">1</div></td><td><div class="cell-wrap">2</div></td><td><div class="cell-wrap">3</div></td><td><div class="cell-wrap">4</div></td><td><div class="cell-wrap">5</div></td>
									<td><div class="cell-wrap archival sun">
											<a href="#">6</a>
											<div class="tooltip">
												<div class="event-tooltip">
													<h4>Libero tempore cum soluta nobis est eligendi optio</h4>
													<div class="metadata">
														<time datetime="2014-04-06T09:00">06.09.21 
														<span>09:00 AM</span></time>
														<span class="place">Lorem ipsum dolor</span>
													</div>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In placerat ipsum dui, quis posuere urna fermentum nec. Aliquam erat volutpat.</p>
												</div>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td><div class="cell-wrap">7</div></td><td><div class="cell-wrap">8</div></td>
									<td><div class="cell-wrap archival wed">
											<a href="#">9</a>
											<div class="tooltip">
												<div class="event-tooltip">
													<h4>Libero tempore cum soluta nobis est eligendi optio</h4>
													<div class="metadata">
														<time datetime="2014-04-09T09:00">09.09.21 
														<span>09:00 AM</span></time>
														<span class="place">Lorem ipsum dolor</span>
													</div>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In placerat ipsum dui, quis posuere urna fermentum nec. Aliquam erat volutpat.</p>
												</div>
											</div>
										</div>
									</td>
									<td><div class="cell-wrap">10</div></td><td><div class="cell-wrap">11</div></td>
									<td><div class="cell-wrap archival sat">
											<a href="#">12</a>
											<div class="tooltip">
												<div class="event-tooltip">
													<h4>Libero tempore cum soluta nobis est eligendi optio</h4>
													<div class="metadata">
														<time datetime="2014-04-12T09:00">12.09.21 
														<span>09:00 AM</span></time>
														<span class="place">Lorem ipsum dolor</span>
													</div>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In placerat ipsum dui, quis posuere urna fermentum nec. Aliquam erat volutpat.</p>
												</div>
											</div>
										</div>
									</td>
									<td><div class="cell-wrap">13</div></td>
								</tr>
								<tr>
									<td><div class="cell-wrap">14</div></td><td><div class="cell-wrap">15</div></td><td><div class="cell-wrap">16</div></td>
									<td><div class="cell-wrap upcoming thu">
											<a href="#">17</a>
											<div class="tooltip">
												<div class="event-tooltip">
													<h4>Libero tempore cum soluta nobis est eligendi optio</h4>
													<div class="metadata">
														<time datetime="2014-04-17T09:00">17.09.21 
														<span>09:00 AM</span></time>
														<span class="place">Lorem ipsum dolor</span>
													</div>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In placerat ipsum dui, quis posuere urna fermentum nec. Aliquam erat volutpat.</p>
												</div>
											</div>
										</div>
									</td>
									<td><div class="cell-wrap">18</div></td><td><div class="cell-wrap">19</div></td><td><div class="cell-wrap">20</div></td>
								</tr>
								<tr>
									<td><div class="cell-wrap">21</div></td>
									<td><div class="cell-wrap upcoming tue">
											<a href="#">22</a>
											<div class="tooltip">
												<div class="event-tooltip">
													<h4>Libero tempore cum soluta nobis est eligendi optio</h4>
													<div class="metadata">
														<time datetime="2014-04-22T09:00">22.09.21 
														<span>09:00 AM</span></time>
														<span class="place">Lorem ipsum dolor</span>
													</div>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In placerat ipsum dui, quis posuere urna fermentum nec. Aliquam erat volutpat.</p>
												</div>
											</div>
										</div>
									</td>
									<td><div class="cell-wrap">23</div></td><td><div class="cell-wrap">24</div></td>
									<td><div class="cell-wrap upcoming fri">
											<a href="#">25</a>
											<div class="tooltip">
												<div class="event-tooltip">
													<h4>Libero tempore cum soluta nobis est eligendi optio</h4>
													<div class="metadata">
														<time datetime="2014-04-25T09:00">25.09.21 
														<span>09:00 AM</span></time>
														<span class="place">Lorem ipsum dolor</span>
													</div>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In placerat ipsum dui, quis posuere urna fermentum nec. Aliquam erat volutpat.</p>
												</div>
											</div>
										</div>
									</td>
									<td><div class="cell-wrap">26</div></td><td><div class="cell-wrap">27</div></td>
								</tr>
								<tr>
									<td><div class="cell-wrap upcoming mon">
											<a href="#">28</a>
											<div class="tooltip">
												<div class="event-tooltip">
													<h4>Libero tempore cum soluta nobis est eligendi optio</h4>
													<div class="metadata">
														<time datetime="2014-04-28T09:00">28.09.21 
														<span>09:00 AM</span></time>
														<span class="place">Lorem ipsum dolor</span>
													</div>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In placerat ipsum dui, quis posuere urna fermentum nec. Aliquam erat volutpat.</p>
												</div>
											</div>
										</div>
									</td>
									<td><div class="cell-wrap">29</div></td><td><div class="cell-wrap">30</div></td><td><div class="cell-wrap another-day">1</div></td><td><div class="cell-wrap another-day">2</div></td><td><div class="cell-wrap another-day">3</div></td><td><div class="cell-wrap another-day">4</div></td>
								</tr>
								</tbody>
							</table>
							<div class="legend"><span class="upcoming">Upcoming event</span><span class="archival">Archival event</span> </div>
						</div>
					</div>
					<!-- <div class="widget-boxes news">
						<h3>Latest news</h3>
						<ul>
						<li class="box">
							<h4><a href="#">Nostrud exercitation ullamco laboris</a></h4>
							<div class="metadata">
								<time datetime="2014-04-17">17.09.21</time>
								<span>Sarah James</span>
							</div>
							<p>Omnis iste natus error sit voluptatem accusantium doloremque laudantium totam aperiam eaque ipsa quae ab illo inventore (...)</p>
						</li>
						<li class="box">
							<h4><a href="#">Voluptatem accusantium doloremque</a></h4>
							<div class="metadata">
								<time datetime="2014-04-16">16.09.21</time>
								<span>Tom Jones</span>
							</div>
							<p>Voluptatem sequi nesciunt. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet consectetur adipisci velit sed quia (...)</p>
						</li>
						<li class="box">
							<h4><a href="#">Duis aute irure dolor in reprehenderit</a></h4>
							<div class="metadata">
								<time datetime="2014-04-13">13.09.21</time>
								<span>Alan Smith</span>
							</div>
							<p>Adipisicing elit do eiusmod tempor incididunt labore et dolore magna aliqua enim ad minim veniam nostrud exercitation (...)</p>
						</li>
						</ul>
					</div> -->
				</aside>
				<!-- / sidebar -->
			</div>
		</div>
		<div class="top-blue-border"></div>
		<footer id="footer">
			<div class="footer-holder">
				<div class="footer-frame">
					<div class="footer-content">
						<div class="col-holder">
							<div class="col_wrap">
								<div class="col">
									<h3>Our address</h3>
									<address class="map">Sateesh Supari Street, Hyderabad</address>
									<address class="mail"><a href="mailto:contact@kidschool.com">contact@lela.com</a></address>
									<address class="phone">+91 9876789879</address>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Latest posts</h3>
									<ul class="posts">
										<li><a href="#">Staying healthy is very important.</a></li>
										<li><a href="#">Health is wealth!</a></li>
										<li><a href="#">Preventing diseases.</a></li>
										<!-- <li><a href="#">Molestias excepturi sint occaecati</a></li> -->
										<!-- <li><a href="#">Cupiditate provident similique</a></li> -->
									</ul>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Follow us</h3>
									<p class="social">Make sure to follow us on below platforms to get updates.</p>
									<ul class="social">
										<li><a class="facebook" href="#">Facebook</a></li>
										<li><a class="google" href="#">Google+</a></li>
										<li><a class="twitter" href="#">Twitter</a></li>
										<li><a class="pinterest" href="#">Pinterest</a></li>
									</ul>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Newsletter</h3>
									<p class="form-newsletter">Subscribe our newsletter by providing your email.</p>
									<form action="#" class="form-newsletter">
										<fieldset>
											<input type="email" placeholder="Your email..." />
											<input class="btn white" type="submit" value="Subscribe" />
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="footer-bottom">
						<div class="holder">
							<p>Copyright 2021 Lela Dietician. Designed by Aman. All right reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</footer>	
	</div>
	
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="js/jquery.placeholder.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>