<!DOCTYPE html>
<!--[if lte IE 8]> <html class="oldie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no">
	<title>Lela Health - Personal Health</title>
	<link href='http://fonts.googleapis.com/css?family=Gochi+Hand|Arvo:400,700' rel='stylesheet' type='text/css'>
	<link href="css/jquery.bxslider.css" rel="stylesheet" />
	<link rel="stylesheet" href="../static/css/style_h.css" />
	<link rel = "icon" href = "https://i.postimg.cc/wxfykpRf/lelalogo.png" type = "image/x-icon">

</head>
<body>
	<div id="wrapper" class="about">
		<div class="wrapper-holder">
			<header id="header">
				<div class="left-part"></div>
				<a id="logo" href="/"></a>
				<div class="bar-holder">
					<a class="menu_trigger" href="#">menu</a>
					<nav id="nav">
						<ul>
							<!-- <li><a class="active" href="/h_about">About us</a></li> -->
							<li><a href="/h_events">Events</a></li>
							<li><a href="/h_index">Home</a></li>
							<li><a class="active" href="/h_gallery">Gallery</a></li>

						</ul>
					</nav>
				</div>
			</header>
			<div class="dvdr"></div>
			<div class="container">
				<section id="main">
					<h1>Our attitude towards health often appears to be one either ignorance we fail to notice just how good it feel to be healthy, a lack of awareness. Or it’s one of grudging acceptance when we realise were not as healthy as perhaps we desire to be.</h1>
					<div class="about-txt">
						<div class="col">
							<p>Even when we acknowledge the benefits of being healthy: energy, happiness, resilience on the face of adversity and societal upsets like pandemics.

								We acknowledge its role but we hate the idea, and the reality that we have to take care of ourselves to maintain our health.
								
								It’s a distraction from other more important things in life.
								
								Exercise, urgh, a bore. Cooking, a chore. Eating healthy, a practice in denial, and the choosing of unappealing foods.
								
								Being healthy is sometimes seen as a burdensome exercise in asceticism.
								
								All this comes from our cultural notion that health is only important once we’ve have lost it.</p>
						</div>
						<div class="col-dvdr">&nbsp;</div>
						<div class="col">
							<p>But being unhealthy has a way of focusing us on ourselves and our needs. I’m no exception here, having become ill due to neglecting my health in my youth.

								So why do we fall into this trap of not valuing our health until it fails?
								
								Why do treat ourselves with so little regard until it’s a little too late?
								
								Why is health regarded as a peripheral to living well?</p>
						</div>
					</div>
					<div class="person">
						<div class="person-img">
							<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn2.iconfinder.com%2Fdata%2Ficons%2Ffarming-agriculture%2F128%2FFARM_1-08-512.png&f=1&nofb=1" alt="" />
							<!-- <div class="mask"></div> -->
						</div>
						<div class="person-description">
							<h2>Economics</h2>
				
							<p>Most of reasons seem to be economic.

								Profit, productivity, getting a paycheck are more important than personal health.
								
								We think our work and the wealth it creates is more important. As such we over work ourselves into illness.
								
								But if we want money to pay for all the luxuries we desire, and forget to buy healthy food.
								
								Another problem is the industrialisation of our food supply. The foods we tend to buy have been refined to an extent that the good stuff has been stripped out of it.
								
								Then there are those foodstuffs that offer little if anything towards our health.
								
								Our agricultural system has been organised and is run by those who think more in terms of the bottom line than our health.</p>
						</div>
					</div>
					<div class="person">
						<div class="person-img">
							<img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.freepngimg.com%2Fdownload%2Fjunk_food%2F2-2-junk-food-png-image.png&f=1&nofb=1" alt="" />
							<!-- <div class="mask"></div> -->
						</div>
						<div class="person-description">
							<h2>Ignorance</h2>
				
							<p>Another major factor is ignorance, and it comes in many different forms.
								Us and the environment. We don’t seem to realise that we are intimately connected to the world we live in. We don’t see that the pollution of the planet directly affects us. Air pollution causes millions to die prematurely.
								We don’t seem to know much about health. We don’t know to what extent or how the food that we eat affects us. Our information comes from the media, who may misrepresent the evidence and in so doing mislead us.
								Most individuals know about diet and obesity. But few individuals I know understand that what we eat can affect our minds, skin, bones, muscles, joints. Our diet affects everything about us.
								If we spent more time researching health from reputable sources we could make better decisions about it.
								</p>
						</div>
					</div>
					<div class="person">
						<div class="person-img">
							<img src="https://cdn4.iconfinder.com/data/icons/medicine-drugs-types/500/val92_16_medicine_bottle_icon_cartoon_vector_illustration_web-512.png" alt="" />
							<!-- <div class="mask"></div> -->
						</div>
						<div class="person-description">
							<h2>Society and culture</h2>
				
							<p>Social pressures to may also play a role. If the people around you are smoking, eating a poor diet then you will likely develop those same habits. This is particularly true when you look at the attitudes of your parents and what they ate, their lifestyle.
								When we are young we are taught how to be a person by our peers, our family, the mass media.
								Growing up in a family, a culture that doesn’t value health means we are not taught it’s importance, and we develop the same unhealthy habits.
								Our health has become second to economic concerns. The health that does interest us are temporary fads that occupy our attention before the next fad comes along. Extreme diets, pills, surgery, all in an effort to look healthy and beautiful without making any deep and lasting changes.</p>
						</div>
					</div>
					<div class="person">
						<div class="person-img">
							<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ficons.veryicon.com%2Fpng%2Fo%2Feducation-technology%2Feducational-icon%2Fmind-1.png&f=1&nofb=1" alt="" />
							<!-- <div class="mask"></div> -->
						</div>
						<div class="person-description">
							<h2>Our Own troubled minds</h2>
							<p>Our fear of death. I also think that being health conscious reminds us of our own vulnerability and mortality. Not something we care to remember or accept.

								Being ill is to feel frail, having to depend on others for help and support. Also disease can be what eventually claims our lives. Being unwell can be the prelude to death.
								
								Quick fix mentality. One psychological problem we face is that we we want simple, quick solutions to problem, including our health. We don’t want to accept that becoming healthy may involve significant changes to our diet and lifestyle habits. Health has become like so much in the world, a superficial exercise in popularity.
								
								For those who do embrace such change the results can be significant. An event that eventually transforms health and their whole approach to life, even giving them new purpose.
								</p>
						</div>
					</div>
				</section>
			</div>
		</div>
		<div class="top-blue-border"></div>
		<footer id="footer">
			<div class="footer-holder">
				<div class="footer-frame">
					<div class="footer-content">
						<div class="col-holder">
							<div class="col_wrap">
								<div class="col">
									<h3>Our address</h3>
									<address class="map">Sateesh Supari Street, Hyderabad</address>
									<address class="mail"><a href="mailto:contact@kidschool.com">contact@lela.com</a></address>
									<address class="phone">+91 9876789879</address>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Latest posts</h3>
									<ul class="posts">
										<li><a href="#">Staying healthy is very important.</a></li>
										<li><a href="#">Health is wealth!</a></li>
										<li><a href="#">Preventing diseases.</a></li>
										<!-- <li><a href="#">Molestias excepturi sint occaecati</a></li> -->
										<!-- <li><a href="#">Cupiditate provident similique</a></li> -->
									</ul>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Follow us</h3>
									<p class="social">Make sure to follow us on below platforms to get updates.</p>
									<ul class="social">
										<li><a class="facebook" href="#">Facebook</a></li>
										<li><a class="google" href="#">Google+</a></li>
										<li><a class="twitter" href="#">Twitter</a></li>
										<li><a class="pinterest" href="#">Pinterest</a></li>
									</ul>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Newsletter</h3>
									<p class="form-newsletter">Subscribe our newsletter by providing your email.</p>
									<form action="#" class="form-newsletter">
										<fieldset>
											<input type="email" placeholder="Your email..." />
											<input class="btn white" type="submit" value="Subscribe" />
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="footer-bottom">
						<div class="holder">
							<p>Copyright 2021 Lela Dietician. Designed by Aman. All right reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</footer>	
	</div>
	
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="js/jquery.placeholder.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>