<!DOCTYPE html>
<!--[if lte IE 8]> <html class="oldie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no">
	<title>Lela Health - Pregnancy</title>
	<link href='http://fonts.googleapis.com/css?family=Gochi+Hand|Arvo:400,700' rel='stylesheet' type='text/css'>
	<link href="css/jquery.bxslider.css" rel="stylesheet" />
	<link rel="stylesheet" href="../static/css/style_h.css" />
	<link rel = "icon" href = "https://i.postimg.cc/wxfykpRf/lelalogo.png" type = "image/x-icon">
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="wrapper" class="events">
		<div class="wrapper-holder">
			<header id="header">
				<div class="left-part"></div>
				<a id="logo" href="/"></a>
				<div class="bar-holder">
					<a class="menu_trigger" href="#">menu</a>
					<nav id="nav">
						<ul>
							<!-- <li><a href="/h_about">About us</a></li> -->
							<li><a href="/h_events">Events</a></li>
							<li><a href="/h_index">Home</a></li>
							<li><a class="active" href="/h_gallery">Gallery</a></li>

						</ul>
					</nav>
				</div>
			</header>
			<div class="dvdr"></div>
			<div class="container">
				<section id="main">
					<h1>PETS</h1>
					<ul>
					<li class="event-description">
						<h1><a href="#">The benefits of pets</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-04-17T09:00">17 Apr 2014 
							<span>09:00 AM</span></time>
							<span>Lorem ipsum dolor</span> -->
						</div>
						<p>Most pet owners are clear about the immediate joys that come with sharing their lives with companion animals. However, many of us remain unaware of the physical and mental health benefits that can also accompany the pleasure of snuggling up to a furry friend. It’s only recently that studies have begun to scientifically explore the benefits of the human-animal bond.

							Pets have evolved to become acutely attuned to humans and our behavior and emotions. Dogs, for example, are able to understand many of the words we use, but they’re even better at interpreting our tone of voice, body language, and gestures. And like any good human friend, a loyal dog will look into your eyes to gauge your emotional state and try to understand what you’re thinking and feeling (and to work out when the next walk or treat might be coming, of course).
							
							Pets, especially dogs and cats, can reduce stress, anxiety, and depression, ease loneliness, encourage exercise and playfulness, and even improve your cardiovascular health. Caring for an animal can help children grow up more secure and active. Pets also provide valuable companionship for older adults. Perhaps most importantly, though, a pet can add real joy and unconditional love to your life. </p>
					</li>
					<li class="event-description">
						<h1><a href="#">How pets can help you make healthy lifestyle changes</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-04-22T09:30">22 Apr 2014 
							<span>09:30 AM</span></time>
							<span>Dolor sit amet</span> -->
						</div>
						<p>Adopting healthy lifestyle changes plays an important role in easing symptoms of depression, anxiety, stress, bipolar disorder, and PTSD. Caring for a pet can help you make healthy lifestyle changes by:

							 Taking a dog for a walk, hike, or run are fun and rewarding ways to fit healthy daily exercise into your schedule. Studies have shown that dog owners are far more likely to meet their daily exercise requirements—and exercising every day is great for the animal as well. It will deepen the connection between you, eradicate most behavior problems in dogs, and keep your pet fit and healthy.
							
							 Companionship can help prevent illness and even add years to your life, while isolation and loneliness can trigger symptoms of depression. Caring for an animal can help make you feel needed and wanted, and take the focus away from your problems, especially if you live alone. Most dog and cat owners talk to their pets, some even use them to work through their troubles. And nothing beats loneliness like coming home to a wagging tail or purring cat.
							
							 Pets can be a great social lubricant for their owners, helping you start and maintain new friendships. Dog owners frequently stop and talk to each other on walks, hikes, or in a dog park. Pet owners also meet new people in pet stores, clubs, and training classes.
							
							The companionship of an animal can offer comfort, help ease anxiety, and build self-confidence for people anxious about going out into the world. Because pets tend to live in the moment—they don’t worry about what happened yesterday or what might happen tomorrow—they can help you become more mindful and appreciate the joy of the present.
							
							 Many pets, especially dogs, require a regular feeding and exercise schedule. Having a consistent routine keeps an animal balanced and calm—and it can work for you, too. No matter your mood—depressed, anxious, or stressed—one plaintive look from your pet and you’ll have to get out of bed to feed, exercise, and care for them.
							
							Touch and movement are two healthy ways to quickly manage stress. Stroking a dog, cat, or other animal can lower blood pressure and help you quickly feel calmer and less stressed.
							
							
						</p>
					</li>
					<li class="event-description">
						<h1><a href="#">Alternatives to pet ownership</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-04-25T07:45">25 Apr 2014 
							<span>07:45 AM</span></time>
							<span>Lorem ipsum dolor sit</span> -->
						</div>
						<p>
							If you don’t have the time, money, or ability to own a pet full-time, there are still ways you can experience the health benefits of being around animals. You can ask to walk a neighbor’s dog, for example, or volunteer at an animal shelter. Most animal shelters or rescue groups welcome volunteers to help care for homeless pets or assist at adoption events. You’ll not only be helping yourself, but also helping to socialize and exercise the animals, making them more adoptable.

							Some animal shelters and rescue groups offer pet “rental” programs. Dogs and cats that are available for adoption can be taken out for walks or play dates. You can also foster an animal temporarily until a permanent home is found for him, or to decide if the animal is right for you.

							A variety of different organizations offer specially trained therapy dogs and cats to visit children’s hospitals, assisted living facilities, nursing homes, hospice programs, shelters, and schools. During these visits, people are invited to pet and stroke the animals, which can improve mood and reduce stress and anxiety.
						</p>
					</li>
					
					</ul>
				</section>
				 <aside id="sidebar">
					
					<div class="widget-boxes news">
						<h3>Latest Posts</h3>
						<ul>
						<li class="box">
							<h4><a href="#">Staying healthy is very important</a></h4>
							<div class="metadata">
								<time datetime="2014-04-17">17.08.21</time>
								<span>Pranavi J</span>
							</div>
							<p>Whenever in doubt, don't drink tap or well water or anything that was made with it, including fountain drinks. Your best bet is to opt for sealed, bottled beverages (...)</p>
						</li>
						<li class="box">
							<h4><a href="#">Health is wealth!</a></h4>
							<div class="metadata">
								<time datetime="2014-04-16">16.08.21</time>
								<span>Mounika</span>
							</div>
							<p>For the majority of us ‘Wealth’ means having lots of money, a big piece of land, jewellery, cars, a farm, a flat, a house or any property which has a potential of having monetary value in the market. But this limits the scope and vision (...)</p>
						</li>
						<li class="box">
							<h4><a href="#">Prevent diseases by washing your hands before eating</a></h4>
							<div class="metadata">
								<time datetime="2014-04-13">13.09.21</time>
								<span>Akhil</span>
							</div>
							<p>Whether at home or abroad, proper hand-washing is an important key to preventing foodborne illness (...)</p>
						</li>
						</ul>
					</div>
				</aside>
				<!-- / sidebar -->
			</div>
		</div>
		<div class="top-blue-border"></div>
		<footer id="footer">
			<div class="footer-holder">
				<div class="footer-frame">
					<div class="footer-content">
						<div class="col-holder">
							<div class="col_wrap">
								<div class="col">
									<h3>Our address</h3>
									<address class="map">Sateesh Supari Street, Hyderabad</address>
									<address class="mail"><a href="mailto:contact@kidschool.com">contact@lela.com</a></address>
									<address class="phone">+91 9876789879</address>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Latest posts</h3>
									<ul class="posts">
										<li><a href="#">Staying healthy is very important.</a></li>
										<li><a href="#">Health is wealth!</a></li>
										<li><a href="#">Preventing diseases.</a></li>
										<!-- <li><a href="#">Molestias excepturi sint occaecati</a></li> -->
										<!-- <li><a href="#">Cupiditate provident similique</a></li> -->
									</ul>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Follow us</h3>
									<p class="social">Make sure to follow us on below platforms to get updates.</p>
									<ul class="social">
										<li><a class="facebook" href="#">Facebook</a></li>
										<li><a class="google" href="#">Google+</a></li>
										<li><a class="twitter" href="#">Twitter</a></li>
										<li><a class="pinterest" href="#">Pinterest</a></li>
									</ul>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Newsletter</h3>
									<p class="form-newsletter">Subscribe our newsletter by providing your email.</p>
									<form action="#" class="form-newsletter">
										<fieldset>
											<input type="email" placeholder="Your email..." />
											<input class="btn white" type="submit" value="Subscribe" />
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="footer-bottom">
						<div class="holder">
							<p>Copyright 2021 Lela Dietician. Designed by Aman. All right reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</footer>	
	</div>
	
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="js/jquery.placeholder.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>