<!DOCTYPE html>
<!--[if lte IE 8]> <html class="oldie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no">
	<title>Lela Health - Pregnancy</title>
	<link href='http://fonts.googleapis.com/css?family=Gochi+Hand|Arvo:400,700' rel='stylesheet' type='text/css'>
	<link href="css/jquery.bxslider.css" rel="stylesheet" />
	<link rel="stylesheet" href="../static/css/style_h.css" />
	<link rel = "icon" href = "https://i.postimg.cc/wxfykpRf/lelalogo.png" type = "image/x-icon">
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="wrapper" class="events">
		<div class="wrapper-holder">
			<header id="header">
				<div class="left-part"></div>
				<a id="logo" href="/"></a>
				<div class="bar-holder">
					<a class="menu_trigger" href="#">menu</a>
					<nav id="nav">
						<ul>
							<!-- <li><a href="/h_about">About us</a></li> -->
							<li><a href="/h_events">Events</a></li>
							<li><a href="/h_index">Home</a></li>
							<li><a class="active" href="/h_gallery">Gallery</a></li>

						</ul>
					</nav>
				</div>
			</header>
			<div class="dvdr"></div>
			<div class="container">
				<section id="main">
					<h1>FITNESS</h1>
					<ul>
					<li class="event-description">
						<h1><a href="#">Immediate Benefits</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-04-17T09:00">17 Apr 2014 
							<span>09:00 AM</span></time>
							<span>Lorem ipsum dolor</span> -->
						</div>
						<p>Some benefits of physical activity on brain health happen right after a session of moderate-to-vigorous physical activity. Benefits include improved thinking or cognition for children 6 to 13 years of age and reduced short-term feelings of anxiety for adults. Regular physical activity can help keep your thinking, learning, and judgment skills sharp as you age. It can also reduce your risk of depression and anxiety and help you sleep better. </p>
					</li>
					<li class="event-description">
						<h1><a href="#">Weight Management</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-04-22T09:30">22 Apr 2014 
							<span>09:30 AM</span></time>
							<span>Dolor sit amet</span> -->
						</div>
						<p>
							Looking to get to or stay at a healthy weight? Both diet and physical activity play a critical role in maintaining a healthy body weight, losing excess body weight, or maintaining successful weight loss. You gain weight when you consume more calories through eating and drinking than the amount of calories you burn, including those burned during physical activity. It’s important to balance calories. When it comes to weight management, people vary greatly in how much physical activity they need. You may need to be more active than others to reach or maintain a healthy weight.
							To maintain your weight: Work your way up to 150 minutes a week of moderate-intensity aerobic activity (for example, 30 minutes a day, 5 days a week). Strong scientific evidence shows that physical activity can help you maintain your weight over time. However, the exact amount of physical activity needed to do this is not clear since it varies greatly from person to person. It’s possible that you may need to do more than 150 minutes of moderate-intensity activity a week to maintain your weight.
							To lose weight and keep it off: You will need a high amount of physical activity unless you also adjust your diet and reduce the amount of calories you’re eating and drinking. Getting to and staying at a healthy weight requires both regular physical activity and a healthy eating plan. For more information about nutrition, physical activity, and weight loss, visit Healthy Weight.

						</p>
					</li>
					<li class="event-description">
						<h1><a href="#">Reduce Your Health Risk</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-04-25T07:45">25 Apr 2014 
							<span>07:45 AM</span></time>
							<span>Lorem ipsum dolor sit</span> -->
						</div>
						<p>
							Heart disease and stroke are two of the leading causes of death in the United States. Following the recommendations and getting at least 150 minutes a week of moderate-intensity aerobic activity can put you at a lower risk for these diseases. You can reduce your risk even further with more physical activity. Regular physical activity can also lower your blood pressure and improve your cholesterol levels. If you are a cancer survivor, research shows that getting regular physical activity not only helps give you a better quality of life, but also improves your physical fitness.
						</p>
					</li>
					<li class="event-description">
						<h1><a href="#">Strengthen Your Bones and Muscles</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-05-03T09:00">03 May 2014 
							<span>09:00 AM</span></time>
							<span>Aliquam erat volutpat</span> -->
						</div>
						<p>
							As you age, it’s important to protect your bones, joints, and muscles – they support your body and help you move. Keeping bones, joints, and muscles healthy can help ensure that you’re able to do your daily activities and be physically active. Doing aerobic, muscle-strengthening, and bone-strengthening physical activity at a moderately-intense level can slow the loss of bone density that comes with age.

							Hip fracture is a serious health condition that can have life-changing negative effects, especially if you’re an older adult. Physically active people have a lower risk of hip fracture than inactive people.

							Among older adults, physical activity also reduces the risk of falling and injuries from falls. Physical activity programs that include more than one type of physical activity are most successful at reducing falls and fall-related injuries. Different types of physical activity include aerobic, muscle strengthening, and balance physical activities. Also, weight bearing activities such as running, brisk walking, jumping jacks and strength training produce a force on the bones. These activities that can help promote bone growth and bone strength and reduce the risk of fall-related injuries and fractures.

						</p>
					</li>
					<li class="event-description">
						<h1><a href="#">Increase Your Chances of Living Longer</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-05-08T07:50">08 May 2014 
							<span>07:50 AM</span></time>
							<span>Lorem ipsum</span> -->
						</div>
						<p>
							Science shows that physical activity can reduce your risk of dying early from leading causes of death, like heart disease and some cancers. This is remarkable in two ways:
							Only a few lifestyle choices have as large an impact on your health as physical activity. People who are physically active for about 150 minutes a week have a 33% lower risk of all-cause mortality than those who are physically inactive.
							You don’t have to do high amounts of activity or vigorous-intensity activity to reduce your risk of premature death. Benefits start to accumulate with any amount of moderate- or vigorous-intensity physical activity.


						</p>
					</li>
					</ul>
				</section>
				 <aside id="sidebar">
					
					<div class="widget-boxes news">
						<h3>Latest Posts</h3>
						<ul>
						<li class="box">
							<h4><a href="#">Staying healthy is very important</a></h4>
							<div class="metadata">
								<time datetime="2014-04-17">17.08.21</time>
								<span>Pranavi J</span>
							</div>
							<p>Whenever in doubt, don't drink tap or well water or anything that was made with it, including fountain drinks. Your best bet is to opt for sealed, bottled beverages (...)</p>
						</li>
						<li class="box">
							<h4><a href="#">Health is wealth!</a></h4>
							<div class="metadata">
								<time datetime="2014-04-16">16.08.21</time>
								<span>Mounika</span>
							</div>
							<p>For the majority of us ‘Wealth’ means having lots of money, a big piece of land, jewellery, cars, a farm, a flat, a house or any property which has a potential of having monetary value in the market. But this limits the scope and vision (...)</p>
						</li>
						<li class="box">
							<h4><a href="#">Prevent diseases by washing your hands before eating</a></h4>
							<div class="metadata">
								<time datetime="2014-04-13">13.09.21</time>
								<span>Akhil</span>
							</div>
							<p>Whether at home or abroad, proper hand-washing is an important key to preventing foodborne illness (...)</p>
						</li>
						</ul>
					</div>
				</aside>
				<!-- / sidebar -->
			</div>
		</div>
		<div class="top-blue-border"></div>
		<footer id="footer">
			<div class="footer-holder">
				<div class="footer-frame">
					<div class="footer-content">
						<div class="col-holder">
							<div class="col_wrap">
								<div class="col">
									<h3>Our address</h3>
									<address class="map">Sateesh Supari Street, Hyderabad</address>
									<address class="mail"><a href="mailto:contact@kidschool.com">contact@lela.com</a></address>
									<address class="phone">+91 9876789879</address>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Latest posts</h3>
									<ul class="posts">
										<li><a href="#">Staying healthy is very important.</a></li>
										<li><a href="#">Health is wealth!</a></li>
										<li><a href="#">Preventing diseases.</a></li>
										<!-- <li><a href="#">Molestias excepturi sint occaecati</a></li> -->
										<!-- <li><a href="#">Cupiditate provident similique</a></li> -->
									</ul>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Follow us</h3>
									<p class="social">Make sure to follow us on below platforms to get updates.</p>
									<ul class="social">
										<li><a class="facebook" href="#">Facebook</a></li>
										<li><a class="google" href="#">Google+</a></li>
										<li><a class="twitter" href="#">Twitter</a></li>
										<li><a class="pinterest" href="#">Pinterest</a></li>
									</ul>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Newsletter</h3>
									<p class="form-newsletter">Subscribe our newsletter by providing your email.</p>
									<form action="#" class="form-newsletter">
										<fieldset>
											<input type="email" placeholder="Your email..." />
											<input class="btn white" type="submit" value="Subscribe" />
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="footer-bottom">
						<div class="holder">
							<p>Copyright 2021 Lela Dietician. Designed by Aman. All right reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</footer>	
	</div>
	
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="js/jquery.placeholder.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>