<!DOCTYPE html>
<!--[if lte IE 8]> <html class="oldie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no">
	<title>Lela Health - Pregnancy</title>
	<link href='http://fonts.googleapis.com/css?family=Gochi+Hand|Arvo:400,700' rel='stylesheet' type='text/css'>
	<link href="css/jquery.bxslider.css" rel="stylesheet" />
	<link rel="stylesheet" href="../static/css/style_h.css" />
	<link rel = "icon" href = "https://i.postimg.cc/wxfykpRf/lelalogo.png" type = "image/x-icon">
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="wrapper" class="events">
		<div class="wrapper-holder">
			<header id="header">
				<div class="left-part"></div>
				<a id="logo" href="/"></a>
				<div class="bar-holder">
					<a class="menu_trigger" href="#">menu</a>
					<nav id="nav">
						<ul>
							<!-- <li><a href="/h_about">About us</a></li> -->
							<li><a href="/h_events">Events</a></li>
							<li><a href="/h_index">Home</a></li>
							<li><a class="active" href="/h_gallery">Gallery</a></li>

						</ul>
					</nav>
				</div>
			</header>
			<div class="dvdr"></div>
			<div class="container">
				<section id="main">
					<h1>WORK</h1>
					<ul>
					<li class="event-description">
						<h1><a href="#">Work-Life Balance</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-04-17T09:00">17 Apr 2014 
							<span>09:00 AM</span></time>
							<span>Lorem ipsum dolor</span> -->
						</div>
						<p>
							Remember work-life balance – that thing people argue doesn’t exist? To some work-life balance is just an overused buzzword that holds very little weight in the grand scheme of everyday life. To me, work-life balance it’s a lifestyle that involves using your time and energy wisely to prioritize work and personal/lifestyle activities.

							Will you ever find the perfect balance? Probably not, but that shouldn’t be your end goal because perfection doesn’t exist.
						</p>
					</li>
					
					<li class="event-description">
						<h1><a href="#">Get on a Schedule</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-04-25T07:45">25 Apr 2014 
							<span>07:45 AM</span></time>
							<span>Lorem ipsum dolor sit</span> -->
						</div>
						<p>
							Whether you consider yourself a type A person or not, getting on a regular schedule has many benefits. Planning out your day allows you to prioritize and figure out exactly what you need to do each day.

							Simply staying organized can help you avoid getting overwhelmed or overbooking yourself. Be sure to schedule in time for work and lifestyle activities. Schedule in time to go to the gym, spend time with friends, and to make appointments.
							Consider getting up a little earlier or doing some extra prep at night to help make your schedule stick.
						</p>
					</li>
					<li class="event-description">
						<h1><a href="#">Set Boundaries With Friends and Family</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-05-03T09:00">03 May 2014 
							<span>09:00 AM</span></time>
							<span>Aliquam erat volutpat</span> -->
						</div>
						<p>
							After setting boundaries with work, you also want to do the same thing with family and friends as well. You know that your entire life can’t be all about fun and relaxation. You have professional goals to reach and happen to manage a business that you love and enjoy.

							When you work for yourself, it’s easy for friends and family to misunderstand what you do or judge what your free time must look like. You may receive extra requests from loved ones asking for favors. This used to happen to me a lot and while I wanted to help out, I also didn’t want to fall behind on my schedule and task list for the day either.

							This is why you have to have a talk with friends and family regarding your schedule and free time. Coordinate time to indulge with loved ones and be conveniently unavailable when it’s time to crank out work.
						</p>
					</li>
					
					</ul>
				</section>
				 <aside id="sidebar">
					
					<div class="widget-boxes news">
						<h3>Latest Posts</h3>
						<ul>
						<li class="box">
							<h4><a href="#">Staying healthy is very important</a></h4>
							<div class="metadata">
								<time datetime="2014-04-17">17.08.21</time>
								<span>Pranavi J</span>
							</div>
							<p>Whenever in doubt, don't drink tap or well water or anything that was made with it, including fountain drinks. Your best bet is to opt for sealed, bottled beverages (...)</p>
						</li>
						<li class="box">
							<h4><a href="#">Health is wealth!</a></h4>
							<div class="metadata">
								<time datetime="2014-04-16">16.08.21</time>
								<span>Mounika</span>
							</div>
							<p>For the majority of us ‘Wealth’ means having lots of money, a big piece of land, jewellery, cars, a farm, a flat, a house or any property which has a potential of having monetary value in the market. But this limits the scope and vision (...)</p>
						</li>
						<li class="box">
							<h4><a href="#">Prevent diseases by washing your hands before eating</a></h4>
							<div class="metadata">
								<time datetime="2014-04-13">13.09.21</time>
								<span>Akhil</span>
							</div>
							<p>Whether at home or abroad, proper hand-washing is an important key to preventing foodborne illness (...)</p>
						</li>
						</ul>
					</div>
				</aside>
				<!-- / sidebar -->
			</div>
		</div>
		<div class="top-blue-border"></div>
		<footer id="footer">
			<div class="footer-holder">
				<div class="footer-frame">
					<div class="footer-content">
						<div class="col-holder">
							<div class="col_wrap">
								<div class="col">
									<h3>Our address</h3>
									<address class="map">Sateesh Supari Street, Hyderabad</address>
									<address class="mail"><a href="mailto:contact@kidschool.com">contact@lela.com</a></address>
									<address class="phone">+91 9876789879</address>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Latest posts</h3>
									<ul class="posts">
										<li><a href="#">Staying healthy is very important.</a></li>
										<li><a href="#">Health is wealth!</a></li>
										<li><a href="#">Preventing diseases.</a></li>
										<!-- <li><a href="#">Molestias excepturi sint occaecati</a></li> -->
										<!-- <li><a href="#">Cupiditate provident similique</a></li> -->
									</ul>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Follow us</h3>
									<p class="social">Make sure to follow us on below platforms to get updates.</p>
									<ul class="social">
										<li><a class="facebook" href="#">Facebook</a></li>
										<li><a class="google" href="#">Google+</a></li>
										<li><a class="twitter" href="#">Twitter</a></li>
										<li><a class="pinterest" href="#">Pinterest</a></li>
									</ul>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Newsletter</h3>
									<p class="form-newsletter">Subscribe our newsletter by providing your email.</p>
									<form action="#" class="form-newsletter">
										<fieldset>
											<input type="email" placeholder="Your email..." />
											<input class="btn white" type="submit" value="Subscribe" />
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="footer-bottom">
						<div class="holder">
							<p>Copyright 2021 Lela Dietician. Designed by Aman. All right reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</footer>	
	</div>
	
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="js/jquery.placeholder.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>