<!DOCTYPE html>
<!--[if lte IE 8]> <html class="oldie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no">
	<title>Lela Health - Pregnancy</title>
	<link href='http://fonts.googleapis.com/css?family=Gochi+Hand|Arvo:400,700' rel='stylesheet' type='text/css'>
	<link href="css/jquery.bxslider.css" rel="stylesheet" />
	<link rel="stylesheet" href="../static/css/style_h.css" />
	<link rel = "icon" href = "https://i.postimg.cc/wxfykpRf/lelalogo.png" type = "image/x-icon">
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="wrapper" class="events">
		<div class="wrapper-holder">
			<header id="header">
				<div class="left-part"></div>
				<a id="logo" href="/"></a>
				<div class="bar-holder">
					<a class="menu_trigger" href="#">menu</a>
					<nav id="nav">
						<ul>
							<!-- <li><a href="/h_about">About us</a></li> -->
							<li><a href="/h_events">Events</a></li>
							<li><a href="/h_index">Home</a></li>
							<li><a class="active" href="/h_gallery">Gallery</a></li>

						</ul>
					</nav>
				</div>
			</header>
			<div class="dvdr"></div>
			<div class="container">
				<section id="main">
					<h1>KEEPTABS</h1>
					<ul>
					<li class="event-description">
						<h1><a href="#">Insects as a problem</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-04-17T09:00">17 Apr 2014 
							<span>09:00 AM</span></time>
							<span>Lorem ipsum dolor</span> -->
						</div>
						<p>
							Many insect species compete with us for food. Many of these have been encouraged due to human activities, but then they become a problem. We plant crops which some insect species love, they thrive on them - and that's when we start to call them pests.

							Humans have caused some insect species to be moved from one part of the world to another - deliberately or by accident. The Large White butterfly is an example of a butterfly which was introduced to the USA and is now a pest on cabbages there.
							
							Another example is the European Corn Borer, Ostrinia nubilalis, a Pyralid moth which is an important pest of corn in the Midwest of the USA. The species was introduced there from Europe in the early 20th century and now costs US farmers over a billion dollars a year.
							
							If the introduced insect species has no natural enemies in their new home, they can become a real problem. A recent UK example is the Harlequin ladybird (Harmonia axyridis), which has found its way to Britain and eats other ladybirds. In other countries where it has been deliberately introduced to control insect pests (a process called Biological Control) it has become a real problem, threatening to wipe out many native insects.
							
							Some insects can sting, bite, or transmit disease to humans. Sometimes this is because they find us tasty - mosquitoes for example gain nourishment by sucking blood, and in the process they can transmit diseases, such as malaria - which is caused by the protozoan Plasmodium falciparum being transmitted in the saliva of the Anopheles mosquito.
							
							The flea Chenopsylla cheopsis had a profound effect on human history when it travelled from Africa in the ships of the middle ages, spreading the Black Death (also known as the Bubonic Plague) across Europe. It took four hundred years for the European population to recover from the effects of the Black Death. The illness is now known to be caused by the bacterium Yersinia pestis, which was carried by the flea, which in turn was carried by the black rat on ships.
							
							So, when it comes to insects, it's important to understand the consequences of human actions.
							
							Many pests - such as the Colorado Beetle or the Gypsy Moth - can be controlled by spraying with chemical pesticides, which kill most insect species on the crop. But - would you rather eat perfect food sprayed with chemicals, or food where the pests are controlled by more natural means?	
						</p>
					</li>
					<li class="event-description">
						<h1><a href="#">Insects as an opportunity</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-04-22T09:30">22 Apr 2014 
							<span>09:30 AM</span></time>
							<span>Dolor sit amet</span> -->
						</div>
						<p>
							Insects are very important as pollinators. Bees are perhaps the best example of this. Honey Bees (Apis mellifera) aren't bred in captivity just for the honey they produce - they are vital to pollinate crops. Without them, many crops would fail, as pollination is needed before many crops and fruits that we eat can be formed.
							Not to mention that tiny midge that pollinates the cocoa plant. Without it, there would be no chocolate!

							Other examples of useful insects are the Silkworm Moth, Bombyx mori, from which silk is obtained. This species has been reared by humans for such a long time that it has become domesticated - it would be unlikely to survive in the wild if released today.

							Insects are also useful as models in scientific research. The Fruit Fly Drosophila melanogaster is a good example. It breeds rapidly, and can produce very many generations per year in the laboratory, so it is ideal for the study of genetics and evolution. In fact, many genetic discoveries of great importance to medicine have been made using this little fruit fly.

							Insects can be useful to the gardener too - ladybirds, for example, are the gardener's friend because they eat aphids. Hoverflies and wasps also prey on other insects in the garden. These species are called predators. Others that are natural enemies to garden pests include parasitoids, which lay eggs in the host insect so as to provide food for its developing young.

							Many kinds of insects are also food for songbirds and other birds and animals. When there aren't enough insects around, the result is fewer birds and mammals.

							And insects can also be eaten by man! This is called entomophagia.
						</p>
					</li>
					
					
					</ul>
				</section>
				 <aside id="sidebar">
					
					<div class="widget-boxes news">
						<h3>Latest Posts</h3>
						<ul>
						<li class="box">
							<h4><a href="#">Staying healthy is very important</a></h4>
							<div class="metadata">
								<time datetime="2014-04-17">17.08.21</time>
								<span>Pranavi J</span>
							</div>
							<p>Whenever in doubt, don't drink tap or well water or anything that was made with it, including fountain drinks. Your best bet is to opt for sealed, bottled beverages (...)</p>
						</li>
						<li class="box">
							<h4><a href="#">Health is wealth!</a></h4>
							<div class="metadata">
								<time datetime="2014-04-16">16.08.21</time>
								<span>Mounika</span>
							</div>
							<p>For the majority of us ‘Wealth’ means having lots of money, a big piece of land, jewellery, cars, a farm, a flat, a house or any property which has a potential of having monetary value in the market. But this limits the scope and vision (...)</p>
						</li>
						<li class="box">
							<h4><a href="#">Prevent diseases by washing your hands before eating</a></h4>
							<div class="metadata">
								<time datetime="2014-04-13">13.09.21</time>
								<span>Akhil</span>
							</div>
							<p>Whether at home or abroad, proper hand-washing is an important key to preventing foodborne illness (...)</p>
						</li>
						</ul>
					</div>
				</aside>
				<!-- / sidebar -->
			</div>
		</div>
		<div class="top-blue-border"></div>
		<footer id="footer">
			<div class="footer-holder">
				<div class="footer-frame">
					<div class="footer-content">
						<div class="col-holder">
							<div class="col_wrap">
								<div class="col">
									<h3>Our address</h3>
									<address class="map">Sateesh Supari Street, Hyderabad</address>
									<address class="mail"><a href="mailto:contact@kidschool.com">contact@lela.com</a></address>
									<address class="phone">+91 9876789879</address>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Latest posts</h3>
									<ul class="posts">
										<li><a href="#">Staying healthy is very important.</a></li>
										<li><a href="#">Health is wealth!</a></li>
										<li><a href="#">Preventing diseases.</a></li>
										<!-- <li><a href="#">Molestias excepturi sint occaecati</a></li> -->
										<!-- <li><a href="#">Cupiditate provident similique</a></li> -->
									</ul>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Follow us</h3>
									<p class="social">Make sure to follow us on below platforms to get updates.</p>
									<ul class="social">
										<li><a class="facebook" href="#">Facebook</a></li>
										<li><a class="google" href="#">Google+</a></li>
										<li><a class="twitter" href="#">Twitter</a></li>
										<li><a class="pinterest" href="#">Pinterest</a></li>
									</ul>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Newsletter</h3>
									<p class="form-newsletter">Subscribe our newsletter by providing your email.</p>
									<form action="#" class="form-newsletter">
										<fieldset>
											<input type="email" placeholder="Your email..." />
											<input class="btn white" type="submit" value="Subscribe" />
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="footer-bottom">
						<div class="holder">
							<p>Copyright 2021 Lela Dietician. Designed by Aman. All right reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</footer>	
	</div>
	
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="js/jquery.placeholder.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>