<!DOCTYPE html>
<!--[if lte IE 8]> <html class="oldie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no">
	<title>Lela Health - Pregnancy</title>
	<link href='http://fonts.googleapis.com/css?family=Gochi+Hand|Arvo:400,700' rel='stylesheet' type='text/css'>
	<link href="css/jquery.bxslider.css" rel="stylesheet" />
	<link rel="stylesheet" href="../static/css/style_h.css" />
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="wrapper" class="events">
		<div class="wrapper-holder">
			<header id="header">
				<div class="left-part"></div>
				<a id="logo" href="/"></a>
				<div class="bar-holder">
					<a class="menu_trigger" href="#">menu</a>
					<nav id="nav">
						<ul>
							<!-- <li><a href="/h_about">About us</a></li> -->
							<li><a href="/h_events">Events</a></li>
							<li><a href="/h_index">Home</a></li>
							<li><a class="active" href="/h_gallery">Gallery</a></li>

						</ul>
					</nav>
				</div>
			</header>
			<div class="dvdr"></div>
			<div class="container">
				<section id="main">
					<h1>GENDER</h1>
					<ul>
					<li class="event-description">
						<h1><a href="#">Understanding Gender</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-04-17T09:00">17 Apr 2014 
							<span>09:00 AM</span></time>
							<span>Lorem ipsum dolor</span> -->
						</div>
						<p>
							Understandings of gender continually evolve. In the course of a person’s life, the interests, activities, clothing and professions that are considered the domain of one gender or another evolve in ways both small and large.
						</p>
					</li>
				
					<li class="event-description">
						<h1><a href="#">Dimensions of Gender</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-04-25T07:45">25 Apr 2014 
							<span>07:45 AM</span></time>
							<span>Lorem ipsum dolor sit</span> -->
						</div>
						<p>
							People tend to use the terms “sex” and “gender” interchangeably. But, while connected, the two terms are not equivalent. Generally, we assign a newborn’s sex as either male or female (some US states and other countries offer a third option) based on the baby’s genitals. Once a sex is assigned, we presume the child’s gender. For some people, this is cause for little, if any, concern or further thought because their gender aligns with gender-related ideas and assumptions associated with their sex. Nevertheless, while gender may begin with the assignment of our sex, it doesn’t end there. A person’s gender is the complex interrelationship between three dimensions: body, identity, and social gender.

						</p>
					</li>
					<li class="event-description">
						<h1><a href="#">Gender Is Different Than Sexual Orientation</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-04-22T09:30">22 Apr 2014 
							<span>09:30 AM</span></time>
							<span>Dolor sit amet</span> -->
						</div>
						<p>
							One final distinction to make is the difference between gender and Sexual orientation, which are often incorrectly conflated. In actuality, gender and sexual orientation are two distinct, but related, aspects of self. Gender is personal (how we see ourselves), while sexual orientation is interpersonal (who we are physically, emotionally and/or romantically attracted to).
							Why is it so critical to distinguish between these two concepts? When we confuse gender with sexual orientation, we are likely to make assumptions about a young person that have nothing to do with who they are. For example, when someone’s gender expression is inconsistent with others’ expectations, assumptions are frequently made about that person’s sexual orientation. The boy who loves to play princess is assumed to be gay, and the girl who buys clothes in the “boys’” section and favors a short haircut may be assumed to be a lesbian. These could be faulty conclusions. What someone wears and how they act is about gender expression. You cannot tell what a person’s sexual orientation is by what they wear (for that matter, you can’t know what their gender identity is either, unless they tell you).
							Our society’s conflation of gender and sexual orientation can also interfere with a young person’s ability to understand and articulate aspects of their own gender. For example, it’s not uncommon for a transgender or non-binary youth to wonder if they are gay or lesbian (or any sexual orientation other than heterosexual) before coming to a fuller realization of their gender identity. How we come to understand our gender and our sexual orientation – and the choices we make to disclose and express these parts of ourselves – are distinct paths. Thinking of these two aspects of self as interchangeable may, instead of helping us know ourselves and one another better, actually get in the way of understanding and communication.
						</p>
					</li>
					<li class="event-description">
						<h1><a href="#">Social Gender</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-05-03T09:00">03 May 2014 
							<span>09:00 AM</span></time>
							<span>Aliquam erat volutpat</span> -->
						</div>
						<p>
							Social gender is the third dimension. This includes gender expression, which is the way we communicate our gender to others through such things as clothing, hairstyles, and mannerisms. It also includes how individuals, communities and society perceive, interact with, and try to shape our gender. Social gender includes gender roles and expectations and how society uses those to try to enforce conformity to current gender norms.
							Practically everything is assigned a gender—toys, colors and clothes are some of the more obvious examples. We begin to teach children about gender from the moment they are born; given the prevalence of the gender binary, children face great pressure to express their gender within narrow, stereotypical definitions of “boy” or “girl.” Expectations regarding gender are communicated through every aspect of our lives, including family, culture, peers, schools, community, media, and religion. Gender roles and expectations are so entrenched in our culture that it’s difficult to imagine things any other way.
						</p>
					</li>
					<!-- <li class="event-description">
						<h2><a href="#">Libero tempore cum soluta nobis est eligendi optio cumque</a></h2>
						<div class="metadata">
							<time datetime="2014-05-08T07:50">08 May 2014 
							<span>07:50 AM</span></time>
							<span>Lorem ipsum</span>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In placerat ipsum dui, quis posuere urna fermentum nec. Aliquam erat volutpat. Quisque pellentesque nulla dui, in rhoncus dui vestibulum ac. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque convallis, sapien in tempus pharetra, leo lectus ultrices purus, vitae vestibulum arcu velit at leo. </p>
					</li> -->
					</ul>
				</section>
				 <aside id="sidebar">
					
					<div class="widget-boxes news">
						<h3>Latest Posts</h3>
						<ul>
						<li class="box">
							<h4><a href="#">Staying healthy is very important</a></h4>
							<div class="metadata">
								<time datetime="2014-04-17">17.08.21</time>
								<span>Pranavi J</span>
							</div>
							<p>Whenever in doubt, don't drink tap or well water or anything that was made with it, including fountain drinks. Your best bet is to opt for sealed, bottled beverages (...)</p>
						</li>
						<li class="box">
							<h4><a href="#">Health is wealth!</a></h4>
							<div class="metadata">
								<time datetime="2014-04-16">16.08.21</time>
								<span>Mounika</span>
							</div>
							<p>For the majority of us ‘Wealth’ means having lots of money, a big piece of land, jewellery, cars, a farm, a flat, a house or any property which has a potential of having monetary value in the market. But this limits the scope and vision (...)</p>
						</li>
						<li class="box">
							<h4><a href="#">Prevent diseases by washing your hands before eating</a></h4>
							<div class="metadata">
								<time datetime="2014-04-13">13.09.21</time>
								<span>Akhil</span>
							</div>
							<p>Whether at home or abroad, proper hand-washing is an important key to preventing foodborne illness (...)</p>
						</li>
						</ul>
					</div>
				</aside>
				<!-- / sidebar -->
			</div>
		</div>
		<div class="top-blue-border"></div>
		<footer id="footer">
			<div class="footer-holder">
				<div class="footer-frame">
					<div class="footer-content">
						<div class="col-holder">
							<div class="col_wrap">
								<div class="col">
									<h3>Our address</h3>
									<address class="map">Sateesh Supari Street, Hyderabad</address>
									<address class="mail"><a href="mailto:contact@kidschool.com">contact@lela.com</a></address>
									<address class="phone">+91 9876789879</address>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Latest posts</h3>
									<ul class="posts">
										<li><a href="#">Staying healthy is very important.</a></li>
										<li><a href="#">Health is wealth!</a></li>
										<li><a href="#">Preventing diseases.</a></li>
										<!-- <li><a href="#">Molestias excepturi sint occaecati</a></li> -->
										<!-- <li><a href="#">Cupiditate provident similique</a></li> -->
									</ul>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Follow us</h3>
									<p class="social">Make sure to follow us on below platforms to get updates.</p>
									<ul class="social">
										<li><a class="facebook" href="#">Facebook</a></li>
										<li><a class="google" href="#">Google+</a></li>
										<li><a class="twitter" href="#">Twitter</a></li>
										<li><a class="pinterest" href="#">Pinterest</a></li>
									</ul>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Newsletter</h3>
									<p class="form-newsletter">Subscribe our newsletter by providing your email.</p>
									<form action="#" class="form-newsletter">
										<fieldset>
											<input type="email" placeholder="Your email..." />
											<input class="btn white" type="submit" value="Subscribe" />
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="footer-bottom">
						<div class="holder">
							<p>Copyright 2021 Lela Dietician. Designed by Aman. All right reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</footer>	
	</div>
	
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="js/jquery.placeholder.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>