<!DOCTYPE html>
<!--[if lte IE 8]> <html class="oldie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no">
	<title>Lela Health - Gallery</title>
	<link href='http://fonts.googleapis.com/css?family=Gochi+Hand|Arvo:400,700' rel='stylesheet' type='text/css'>
	<link href="css/jquery.bxslider.css" rel="stylesheet" />
	<link rel="stylesheet" href="../static/css/style_h.css" />
	<link rel = "icon" href = "https://i.postimg.cc/wxfykpRf/lelalogo.png" type = "image/x-icon">
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="wrapper" class="gallery">
		<div class="wrapper-holder">
			<header id="header">
				<div class="left-part"></div>
				<a id="logo" href="/"></a>
				<div class="bar-holder">
					<a class="menu_trigger" href="#">menu</a>
					<nav id="nav">
						<ul>
							<!-- <li><a href="/h_about">About us</a></li> -->
							<li><a href="/h_events">Events</a></li>
							<li><a href="/h_index">Home</a></li>
							<li><a class="active" href="h_gallery">Gallery</a></li>

						</ul>
					</nav>
				</div>
			</header>
			<div class="dvdr"></div>
			<div class="container">
				<section id="main">
					<h1>Browse our gallery. You can find interesting articles about lifestyle here.</h1>
					<div class="tabs">
						<ul class="filter-controls">
							<li><a href="/h_gallery" data-filter="*">Show All</a></li>
							<li><a href="/h_gal_sub_health" data-filter=".kids">Health</a></li>
							<li><a href="/h_gal_sub_sports" data-filter=".meeting">Sports</a></li>
							<li><a href="/h_gal_sub_lifestyle" data-filter=".parties">Lifestyle</a></li>
							<li><a href="#" data-filter=".print" data-currently-viewing="all" class="selected">Environment</a></li>
						</ul>
					</div>
					
					<ul class="slider sortable-grid">
						<li>
							<ul>
							<li class="grid-item parties">
								<a href="#"><img src="https://cdn0.iconfinder.com/data/icons/life-is-love/100/Love-38-256.png" alt="" style="height: 70%; width: 70%;"/> <br/>Pets</a>
									
								<!-- <div class="mask"></div></a> -->
							<!-- <li class="grid-item kids"> -->
								<!-- <a href="#"><img src="https://cdn0.iconfinder.com/data/icons/life-is-love/100/Love-36-256.png" alt="" style="height: 70%; width: 70%;"/> <br/>Keep Tabs</a> -->
								<!-- <div class="mask"></div></a> -->
							<!-- <li class="grid-item kids"> -->
								<!-- <a href="#"><img src="https://cdn0.iconfinder.com/data/icons/life-is-love/100/Love-40-256.png" alt="" style="height: 70%; width: 70%;"/><br/>Outdoor Sports</a> -->
								<!-- <div class="mask"></div></a> -->
							<li class="grid-item parties">
								<a href="#"><img src="https://cdn0.iconfinder.com/data/icons/life-is-love/100/Love-26-256.png" alt="" style="height: 70%; width: 70%;"/> <br/>Nature</a>
								<!-- <div class="mask"></div></a> -->
							<!-- <li class="grid-item kids"> -->
								<!-- <a href="#"><img src="https://cdn0.iconfinder.com/data/icons/life-is-love/100/Love-16-256.png" alt="" style="height: 70%; width: 70%;"/><br/>Yoga</a> -->
								<!-- <div class="mask"></div></a> -->
						
							<li class="grid-item parties print">
								<a href="#"><img src="https://cdn0.iconfinder.com/data/icons/life-is-love/100/Love-27-256.png" alt="" style="height: 70%; width: 70%;"/> <br/>Animals</a>
								<!-- <div class="mask"></div></a> -->
							<!-- <li class="grid-item meeting"> -->
								<!-- <a href="#"><img src="https://cdn0.iconfinder.com/data/icons/life-is-love/100/Love-23-256.png" alt="" style="height: 70%; width: 70%;"/> <br/>Personal Health</a> -->
								<!-- <div class="mask"></div></a> -->
							<li class="grid-item meeting">
								<a href="#"><img src="https://cdn0.iconfinder.com/data/icons/life-is-love/100/Love-22-256.png" alt="" style="height: 70%; width: 70%;"/> <br/>Water</a>
								<!-- <div class="mask"></div></a> -->
						
							<li class="grid-item meeting print">
								<a href="#"><img src="https://cdn0.iconfinder.com/data/icons/life-is-love/100/Love-19-256.png" alt="" style="height: 70%; width: 70%;"/> <br/>Trees</a>
								<!-- <div class="mask"></div></a> -->
						
							
						</li>
					</ul>
				</section>
			</div>
		</div>
		<div class="top-blue-border"></div>
		<footer id="footer">
			<div class="footer-holder">
				<div class="footer-frame">
					<div class="footer-content">
						<div class="col-holder">
							<div class="col_wrap">
								<div class="col">
									<h3>Our address</h3>
									<address class="map">Sateesh Supari Street, Hyderabad</address>
									<address class="mail"><a href="mailto:contact@kidschool.com">contact@lela.com</a></address>
									<address class="phone">+91 9876789879</address>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Latest posts</h3>
									<ul class="posts">
										<li><a href="#">Staying healthy is very important.</a></li>
										<li><a href="#">Health is wealth!</a></li>
										<li><a href="#">Preventing diseases.</a></li>
										<!-- <li><a href="#">Molestias excepturi sint occaecati</a></li> -->
										<!-- <li><a href="#">Cupiditate provident similique</a></li> -->
									</ul>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Follow us</h3>
									<p class="social">Make sure to follow us on below platforms to get updates.</p>
									<ul class="social">
										<li><a class="facebook" href="#">Facebook</a></li>
										<li><a class="google" href="#">Google+</a></li>
										<li><a class="twitter" href="#">Twitter</a></li>
										<li><a class="pinterest" href="#">Pinterest</a></li>
									</ul>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Newsletter</h3>
									<p class="form-newsletter">Subscribe our newsletter by providing your email.</p>
									<form action="#" class="form-newsletter">
										<fieldset>
											<input type="email" placeholder="Your email..." />
											<input class="btn white" type="submit" value="Subscribe" />
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="footer-bottom">
						<div class="holder">
							<p>Copyright 2021 Lela Dietician. Designed by Aman. All right reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</footer>	
	</div>
	
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="js/jquery.placeholder.js"></script>
	<script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
	<script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>