<!DOCTYPE html>
<!--[if lte IE 8]> <html class="oldie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no">
	<title>Lela Health - Pregnancy</title>
	<link href='http://fonts.googleapis.com/css?family=Gochi+Hand|Arvo:400,700' rel='stylesheet' type='text/css'>
	<link href="css/jquery.bxslider.css" rel="stylesheet" />
	<link rel="stylesheet" href="../static/css/style_h.css" />
	<link rel = "icon" href = "https://i.postimg.cc/wxfykpRf/lelalogo.png" type = "image/x-icon">
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="wrapper" class="events">
		<div class="wrapper-holder">
			<header id="header">
				<div class="left-part"></div>
				<a id="logo" href="/"></a>
				<div class="bar-holder">
					<a class="menu_trigger" href="#">menu</a>
					<nav id="nav">
						<ul>
							<!-- <li><a href="/h_about">About us</a></li> -->
							<li><a href="/h_events">Events</a></li>
							<li><a href="/h_index">Home</a></li>
							<li><a class="active" href="/h_gallery">Gallery</a></li>

						</ul>
					</nav>
				</div>
			</header>
			<div class="dvdr"></div>
			<div class="container">
				<section id="main">
					<h1>EDUCATION</h1>
					<ul>
					<li class="event-description">
						<h1><a href="#">How Does Education Affect Your Life?</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-04-17T09:00">17 Apr 2014 
							<span>09:00 AM</span></time>
							<span>Lorem ipsum dolor</span> -->
						</div>
						<p>
							Chances are you've heard someone say that education is the foundation of our future — or some variation of that phrase. After all, an education is meant to prepare students for the future and, as such, the type of education and quality of education they receive creates a kind of foundation on which that future is built. 
							No matter what level of education you have, it will have impact on your life. The real question, of course, is how will it shape your life? Well, there are multiple benefits to acquiring an education — even kindergarten has the ability to change one's life. Here, we’ll outline exactly why education is so important and how it can improve one's overall quality of life. 
						</p>
					</li>
					<li class="event-description">
						<h1><a href="#">Importance of Education</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-04-22T09:30">22 Apr 2014 
							<span>09:30 AM</span></time>
							<span>Dolor sit amet</span> -->
						</div>
						<p>
							A good educational system is essential for shaping the future of society. It’s a fundamental part of our lives. Without education, no matter how big or small, people wouldn’t be able to grow and become the best versions of themselves. Education allows us to gain more information, which helps us make better personal and business decisions. It expands our world and allows us to develop and express our thoughts. A good educational system shapes a child into a fully functioning adult, armed with the knowledge gained during their years in school. The world becomes their oyster, and what they want to do with it is up to them. Without education, a person doesn’t develop a sufficient self-dependency or sense of self. Without education, individuals would end up missing out on far more than knowledge. 
						</p>
					</li>
					<li class="event-description">
						<h1><a href="#">How Does Education Impact Society?</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-04-25T07:45">25 Apr 2014 
							<span>07:45 AM</span></time>
							<span>Lorem ipsum dolor sit</span> -->
						</div>
						<p>
							Education shapes society’s collective knowledge. When knowledge is shared and education is made more accessible, individuals are able to more effectively contribute to the well-being of their communities. President Franklin D.Roosevelt once said that, "The real safeguard of democracy... is education." In this sense, education — both the knowledge it imparts and the confidence it instills — can help individuals develop their own thoughts, points of view, and critical eye. 

							In the words of Nelson Mandela, “Education is the most powerful weapon, which you can use to change the world.”
							Education impacts the economy tremendously. By learning more and gaining more skills, you're improving your career prospects. Theoretically, when you do well, you also increase your salary. Education also provides people with the knowledge needed to use the advanced technology that makes labor faster and more efficient. This, in exchange, positively impacts economic growth. Additionally, reports have shown that a well-educated workforce is often more productive, in part because they feel confident in their abilities. 
						</p>
					</li>
					<li class="event-description">
						<h1><a href="#">How Does Education Affect Income Levels?</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-05-03T09:00">03 May 2014 
							<span>09:00 AM</span></time>
							<span>Aliquam erat volutpat</span> -->
						</div>
						<p>
							As you grow older and gain more knowledge in your field, education is one of the factors that increases your earning potential. Having a degree or a relevant certification can make you stand out to potential employers, and, in many cases, companies will be willing to pay more when an employee has a higher education. According to the U.S. Bureau of Labor, college graduates earn 61% more than those that never attended college.
							Of course, people often think of traditional academics when they think of education, but acquiring skills or learning a trade is also an essential form of education. For example, if a company needs skilled labor, they will often pay more for someone that doesn’t require any training and already holds the necessary knowledge, which they may have acquired at a trade or vocational school. 

							At any level, education exposes people to new knowledge, perspectives and ideas. There’s no limit to what you can learn — and the more you learn, the better you can use that knowledge to your advantage.

						</p>
					</li>
					<!-- <li class="event-description">
						<h2><a href="#">Libero tempore cum soluta nobis est eligendi optio cumque</a></h2>
						<div class="metadata">
							<time datetime="2014-05-08T07:50">08 May 2014 
							<span>07:50 AM</span></time>
							<span>Lorem ipsum</span>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In placerat ipsum dui, quis posuere urna fermentum nec. Aliquam erat volutpat. Quisque pellentesque nulla dui, in rhoncus dui vestibulum ac. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque convallis, sapien in tempus pharetra, leo lectus ultrices purus, vitae vestibulum arcu velit at leo. </p>
					</li> -->
					</ul>
				</section>
				 <aside id="sidebar">
					
					<div class="widget-boxes news">
						<h3>Latest Posts</h3>
						<ul>
						<li class="box">
							<h4><a href="#">Staying healthy is very important</a></h4>
							<div class="metadata">
								<time datetime="2014-04-17">17.08.21</time>
								<span>Pranavi J</span>
							</div>
							<p>Whenever in doubt, don't drink tap or well water or anything that was made with it, including fountain drinks. Your best bet is to opt for sealed, bottled beverages (...)</p>
						</li>
						<li class="box">
							<h4><a href="#">Health is wealth!</a></h4>
							<div class="metadata">
								<time datetime="2014-04-16">16.08.21</time>
								<span>Mounika</span>
							</div>
							<p>For the majority of us ‘Wealth’ means having lots of money, a big piece of land, jewellery, cars, a farm, a flat, a house or any property which has a potential of having monetary value in the market. But this limits the scope and vision (...)</p>
						</li>
						<li class="box">
							<h4><a href="#">Prevent diseases by washing your hands before eating</a></h4>
							<div class="metadata">
								<time datetime="2014-04-13">13.09.21</time>
								<span>Akhil</span>
							</div>
							<p>Whether at home or abroad, proper hand-washing is an important key to preventing foodborne illness (...)</p>
						</li>
						</ul>
					</div>
				</aside>
				<!-- / sidebar -->
			</div>
		</div>
		<div class="top-blue-border"></div>
		<footer id="footer">
			<div class="footer-holder">
				<div class="footer-frame">
					<div class="footer-content">
						<div class="col-holder">
							<div class="col_wrap">
								<div class="col">
									<h3>Our address</h3>
									<address class="map">Sateesh Supari Street, Hyderabad</address>
									<address class="mail"><a href="mailto:contact@kidschool.com">contact@lela.com</a></address>
									<address class="phone">+91 9876789879</address>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Latest posts</h3>
									<ul class="posts">
										<li><a href="#">Staying healthy is very important.</a></li>
										<li><a href="#">Health is wealth!</a></li>
										<li><a href="#">Preventing diseases.</a></li>
										<!-- <li><a href="#">Molestias excepturi sint occaecati</a></li> -->
										<!-- <li><a href="#">Cupiditate provident similique</a></li> -->
									</ul>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Follow us</h3>
									<p class="social">Make sure to follow us on below platforms to get updates.</p>
									<ul class="social">
										<li><a class="facebook" href="#">Facebook</a></li>
										<li><a class="google" href="#">Google+</a></li>
										<li><a class="twitter" href="#">Twitter</a></li>
										<li><a class="pinterest" href="#">Pinterest</a></li>
									</ul>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Newsletter</h3>
									<p class="form-newsletter">Subscribe our newsletter by providing your email.</p>
									<form action="#" class="form-newsletter">
										<fieldset>
											<input type="email" placeholder="Your email..." />
											<input class="btn white" type="submit" value="Subscribe" />
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="footer-bottom">
						<div class="holder">
							<p>Copyright 2021 Lela Dietician. Designed by Aman. All right reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</footer>	
	</div>
	
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="js/jquery.placeholder.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>