<!DOCTYPE html>
<!--[if lte IE 8]> <html class="oldie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no">
	<title>Lela Health - Home</title>
	<link href='http://fonts.googleapis.com/css?family=Gochi+Hand|Arvo:400,700' rel='stylesheet' type='text/css'>
	<link href="css/jquery.bxslider.css" rel="stylesheet" />
	<link rel="stylesheet" href="../static/css/style_h.css" />

</head>
<body>
	<div id="wrapper" class="homepage">
		<div class="wrapper-holder">
			<header id="header">
				<div class="left-part"></div>
				<a id="logo" href="/"></a>
				<div class="bar-holder">
					<a class="menu_trigger" href="#">menu</a>
					<nav id="nav">
						<ul>
							<!-- <li><a href="/h_abouthealth">About us</a></li> -->
							<li><a href="/h_events">Events</a></li>
							<li><a class="active" href="/h_index">Home</a></li>
							<li><a href="/h_gallery">Gallery</a></li>

						</ul>
					</nav>
				</div>
			
			</header>
			
			<section class="promo">
				

			</section>
			<section id="main">
				<div class="widget-boxes">
					<div class="box">
						<a href="#">
							<div class="box-info about">
								<h2>Newborn health</h2>
								<p>A newborn brings a whirlwind of activity to your life. At first, newborn care might seem limited to round-the-clock feeding, bathing, diapering and soothing — but there's more to ensuring newborn health than these basics. 
									Other newborn health concerns might include caring for your newborn's skin, decoding your newborn's cries and promoting your newborn's development.
									Remember, part of taking good care of your newborn involves caring for yourself. </p>
							</div>
						</a>
					</div>
					<div class="box">
						<a href="#">
							<div class="box-info experience">
								<h2>Vaccines</h2>
								<p>
									Babies are born with immune systems that can fight most germs, but there are some deadly diseases they can’t handle. 
									Vaccines use very small amounts of antigens to help your child’s immune system recognize and learn to fight serious diseases. Vaccines use very small amounts of antigens to help your child’s immune system recognize and learn to fight serious diseases. Antigens are parts of germs that cause the body’s immune system to go to work.
								</p>
							</div>
						</a>
					</div>
					<div class="box">
						<a href="#">
							<div class="box-info fun">
								<h2>Kids wellbeing</h2>
								<p>Your child's health includes physical, mental and social well-being. Most parents should look after them by offering them healthy foods, making sure they get enough sleep and exercise and insuring their safety.
									It is also important for children to get regular checkups with their health care provider. These visits are a chance to check your child's development.
									Children should be seen for significant weight gain or loss.</p>
							</div>
						</a>
					</div>
				</div>
				<div class="top-pink-border"></div>
				<div class="event-wrap">
					<div class="block-event">
						<div class="upcoming-event">
							<h2>Safe the precious gift: Health</h2>
							<div class="event-description">
								<h3><a href="#">Your health is at the center of your life. Every part of your life relies on you having good health.</a></h3>
								<div class="metadata">
							
								</div>
								<p>Your energy level is a reflection of your overall health and wellbeing. The more energy you have, the more you will get done in your day and life. We all have the same amount of time in the day, so the difference between us can only be the energy we bring into each aspect of our life.</p>
								<a class="btn yellow" href="/h_abouthealth">Learn more</a>
							</div>
						</div>
						
					</div>
				</div>
				<div class="bottom-pink-border"></div>
					<div class="widget-boxes news">
						<h2>Academy of Nutrition and Dietetics</h2>
						<div class="box">
							<a class="news-img" href="#">
								<img src="https://cdn2.iconfinder.com/data/icons/diseases-and-injury-2/340/bed_sleep_insomnia_stress_night_awake_sad_moon-512.png" alt="" style="height: 90%; width: 50%;"/>
								<!-- <div class="mask"></div> -->
							</a>
							<div class="box-info">
								<h3><a href="/h_lifestyle">Lifestyle</a></h3>
								<div class="metadata">
									<!-- <time datetime="2014-04-17">17.04.14</time> -->
									<!-- <span>Sarah James</span> -->
								</div>
								<p>Holidays, vacations, travel and cultural traditions don't have to derail your healthy nutrition goals. Build an eating plan with your unique lifestyle and nutritional needs in mind.</p>
							</div>
						</div>
						<div class="box">
							<a class="news-img" href="#">
								<img src="https://cdn2.iconfinder.com/data/icons/diseases-and-injury-2/340/allergy_air_disease_health_person_flu_people_sick-256.png" alt="" style="height: 90%; width: 50%;"/>
								<!-- <div class="mask"></div> -->
							</a>
							<div class="box-info">
								<h3><a href="/h_allergies">Allergies and Intolerances</a></h3>
								<div class="metadata">
									<!-- <time datetime="2014-04-17">17.04.14</time> -->
									<!-- <span>Sarah James</span> -->
								</div>
								<p>Learn about the different types of allergies and intolerances, how to avoid foods that make you sick, food alternatives and more. Allergies are trivial for children.</p>
							</div>
						</div>
						<div class="box">
							<a class="news-img" href="#">
								<img src="https://cdn2.iconfinder.com/data/icons/diseases-and-injury-2/340/disease_health_internal_body_human_medical_organ-256.png" alt="" style="height: 90%; width: 50%;"/>
								<!-- <div class="mask"></div> -->
							</a>
							<div class="box-info">
								<h3><a href="/h_wellness">Wellness</a></h3>
								<div class="metadata">
									<!-- <time datetime="2014-04-17">17.04.14</time> -->
									<!-- <span>Sarah James</span> -->
								</div>
								<p> Wellness is the act of practicing healthy habits on a daily basis to attain better physical and mental health outcomes, so that instead of just surviving, you're thriving.</p>
							</div>
						</div>
						<div class="box">
							<a class="news-img" href="#">
								<img src="https://cdn2.iconfinder.com/data/icons/diseases-and-injury-2/340/weight_fat_body_overweight_unhealthy_obesity_diet_health_belly-256.png" alt="" style="height: 90%; width: 50%;"/>
								<!-- <div class="mask"></div> -->
							</a>
							<div class="box-info">
								<h3><a href="/h_weightloss">Weight Loss</a></h3>
								<div class="metadata">
									<!-- <time datetime="2014-04-17">17.04.14</time> -->
									<!-- <span>Sarah James</span> -->
								</div>
								<p>Even a modest weight loss of 5 to 10 percent of your total body weight is likely to produce health benefits, such as improvements in blood pressure, blood cholesterol, and blood sugars.</p>
							</div>
						</div>
						<div class="box">
							<a class="news-img" href="#">
								<img src="https://cdn2.iconfinder.com/data/icons/diseases-and-injury-2/340/allergy_skin_allergic_medical_rash_health_dermatitis_disease-512.png" alt="" style="height: 90%; width: 50%;"/>
								<!-- <div class="mask"></div> -->
							</a>
							<div class="box-info">
								<h3><a href="/h_diseases">Diseases and Conditions</a></h3>
								<div class="metadata">
									<!-- <time datetime="2014-04-16">16.04.14</time> -->
									<!-- <span>Tom Jones</span> -->
								</div>
								<p>If you have a chronic condition, a carefully planned diet can make a difference. With certain diseases, what you eat may reduce symptoms. In other cases, diet can improve health, give resistance to heart problems.</p>
							</div>
						</div>
						<div class="box">
							<a class="news-img" href="#">
								<img src="https://cdn1.iconfinder.com/data/icons/feminist-4/512/MaternityLeave-pregnancy-pregnant-motherhood-newborn-mother-baby-maternity-employeeleave-maternity-1024.png" alt="" style="height: 85%; width: 40%;"/>
								<!-- <div class="mask"></div> -->
							</a>
							<div class="box-info">
								<h3><a href="h_pregnancy">Pregnancy</a></h3>
								<div class="metadata">
									<!-- <time datetime="2014-04-13">13.04.14</time> -->
									<!-- <span>Alan Smith</span> -->
								</div>
								<p>Throughout childbearing years, diet plays a role in fertility and healthy pregnancies. Eating right and being physically active are keys. Get tips for nutrition before, during and after pregnancy.</p>
							</div>
							
						</div>
					</div>
			</section>
		</div>
		<div class="top-blue-border"></div>
		<footer id="footer">
			<div class="footer-holder">
				<div class="footer-frame">
					<div class="footer-content">
						<div class="col-holder">
							<div class="col_wrap">
								<div class="col">
									<h3>Our address</h3>
									<address class="map">Sateesh Supari Street, Hyderabad</address>
									<address class="mail"><a href="mailto:contact@kidschool.com">contact@lela.com</a></address>
									<address class="phone">+91 9876789879</address>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Latest posts</h3>
									<ul class="posts">
										<li><a >Staying healthy is very important.</a></li>
										<li><a >Health is wealth!</a></li>
										<li><a >Preventing diseases.</a></li>
										<!-- <li><a href="#">Molestias excepturi sint occaecati</a></li> -->
										<!-- <li><a href="#">Cupiditate provident similique</a></li> -->
									</ul>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Follow us</h3>
									<p class="social">Make sure to follow us on below platforms to get updates.</p>
									<ul class="social">
										<li><a class="facebook" href="#">Facebook</a></li>
										<li><a class="google" href="#">Google+</a></li>
										<li><a class="twitter" href="#">Twitter</a></li>
										<li><a class="pinterest" href="#">Pinterest</a></li>
									</ul>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Newsletter</h3>
									<p class="form-newsletter">Subscribe our newsletter by providing your email.</p>
									<form action="#" class="form-newsletter">
										<fieldset>
											<input type="email" placeholder="Your email..." />
											<input class="btn white" type="submit" value="Subscribe" />
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="footer-bottom">
						<div class="holder">
							<p>Copyright 2021 Lela Dietician. Designed by Aman. All right reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</footer>	
	</div>
	
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="js/jquery.placeholder.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>