<!DOCTYPE html>
<!--[if lte IE 8]> <html class="oldie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no">
	<title>Lela Health - Lifestyle</title>
	<link href='http://fonts.googleapis.com/css?family=Gochi+Hand|Arvo:400,700' rel='stylesheet' type='text/css'>
	<link href="css/jquery.bxslider.css" rel="stylesheet" />
	<link rel="stylesheet" href="../static/css/style_h.css" />
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="wrapper" class="events">
		<div class="wrapper-holder">
			<header id="header">
				<div class="left-part"></div>
				<a id="logo" href="/"></a>
				<div class="bar-holder">
					<a class="menu_trigger" href="#">menu</a>
					<nav id="nav">
						<ul>
							<!-- <li><a href="/h_about">About us</a></li> -->
							<li><a class="active" href="/h_events">Events</a></li>
							<li><a href="/h_index">Home</a></li>
							<li><a href="/h_gallery">Gallery</a></li>

						</ul>
					</nav>
				</div>
			</header>
			<div class="dvdr"></div>
			<div class="container">
				<section id="main">
					<h1>LIFESTYLE</h1>
					<ul>
					<li class="event-description">
						<h1><a href="#">Culture and Traditions</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-04-17T09:00">17 Apr 2014 
							<span>09:00 AM</span></time>
							<span>Lorem ipsum dolor</span> -->
						</div>
						<p>Soul food is a traditional African American cuisine with roots in the Deep South. Many Southern kids grow up eating fried chicken, macaroni and cheese, greens cooked with pork and sweet potato cake.
							Traditional soul food can be high in saturated fat, salt and added sugar. Too much of these things can negatively impact your family’s health.
							But you can embrace those special family recipes by creating healthier soul food, your way.
							Teach your kids to fill up on veggies first.
							Serve your family small portions of high calorie dishes such as macaroni and cheese.
							Cherish your most decadent dishes. Save them for special occasions, such as birthdays and holidays. </p>
					</li>
					<li class="event-description">
						<h1><a href="#">Holidays</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-04-22T09:30">22 Apr 2014 
							<span>09:30 AM</span></time>
							<span>Dolor sit amet</span> -->
						</div>
						<p>Looking for Holiday treats can be a heart-stopping experience. Think outside the heart-shaped box and use the holiday as a time to learn about healthy snacking.
							These holiday party treats feature dairy, whole grains, fruits and vegetables, many of which can even be assembled in the classroom.
							If you’re child is participating in virtual learning during the COVID-19 pandemic, consider hosting a virtual party or have a party at home with your immediate family.
							You also may consider a socially distanced neighborhood party or dropping safely packaged treats at the doorstep of a friend for a sweet surprise.</p>
					</li>
					<li class="event-description">
						<h1><a href="#">Seasonal</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-04-25T07:45">25 Apr 2014 
							<span>07:45 AM</span></time>
							<span>Lorem ipsum dolor sit</span> -->
						</div>
						<p>Each January, millions of Americans make resolutions to eat more healthfully but many lose steam along the way.
							If you have trouble keeping your resolutions or meeting your goals, make this the year you create a solid plan that sets you up for success!
						    Break big goals into smaller, more specific goals and include a list of realistic changes in your daily routine to achieve these specific goals. For instance, divide big and vague goals like "I will eat better" into smaller, more specific goals like "I will eat one more piece of fruit per day." Remember, while your goals should be challenging, they should also be reachable.
							The goals must provide answers to "How much?" or "How many?" so you can easily review and track your progress. Evaluate your progress every week or two, and update your plan based upon your current progress or circumstances. Make sure you are giving yourself enough time to achieve each smaller goal so you are not discouraged if you haven’t met them.
							</p>
					</li>
					<li class="event-description">
						<h1><a href="#">Travel</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-05-03T09:00">03 May 2014 
							<span>09:00 AM</span></time>
							<span>Aliquam erat volutpat</span> -->
						</div>
						<p>Your travel plans are set. Your passport is ready. But, do you know what might be lurking in the food on your plate as you travel outside the U.S.?

							The Centers for Disease Control and Prevention estimates that 3,000 people die each year of foodborne diseases in America. The numbers are much higher in other parts of the world. The World Health Organization estimates that 2 million people die each year from contaminated food or drinking water. That’s about 1 in 10 people! Risks range from:
							
							Mild: travelers' diarrhea.
							Serious: hepatitis A or typhoid, which can have long-term health effects.
							Fatal: illness caused by harmful bacteria, parasites, viruses and chemical substances.
							Food poisoning tends to be most severe in impoverished to low-income countries. It is most common in Africa and Southeast Asia. The death rates from foodborne illness are the highest in these countries. Reasons include unclean or unsafe water supply, poor personal hygiene and subpar food production and storage conditions. If you're going to a developing country, follow these tips — even if you are staying at a five-star hotel.</p>
					</li>
					<!-- <li class="event-description">
						<h2><a href="#">Libero tempore cum soluta nobis est eligendi optio cumque</a></h2>
						<div class="metadata">
							<time datetime="2014-05-08T07:50">08 May 2014 
							<span>07:50 AM</span></time>
							<span>Lorem ipsum</span>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In placerat ipsum dui, quis posuere urna fermentum nec. Aliquam erat volutpat. Quisque pellentesque nulla dui, in rhoncus dui vestibulum ac. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque convallis, sapien in tempus pharetra, leo lectus ultrices purus, vitae vestibulum arcu velit at leo. </p>
					</li> -->
					</ul>
				</section>
				 <aside id="sidebar">
					
					<div class="widget-boxes news">
						<h3>Latest Posts</h3>
						<ul>
						<li class="box">
							<h4><a href="#">Staying healthy is very important</a></h4>
							<div class="metadata">
								<time datetime="2014-04-17">17.08.21</time>
								<span>Pranavi J</span>
							</div>
							<p>Whenever in doubt, don't drink tap or well water or anything that was made with it, including fountain drinks. Your best bet is to opt for sealed, bottled beverages (...)</p>
						</li>
						<li class="box">
							<h4><a href="#">Health is wealth!</a></h4>
							<div class="metadata">
								<time datetime="2014-04-16">16.08.21</time>
								<span>Mounika</span>
							</div>
							<p>For the majority of us ‘Wealth’ means having lots of money, a big piece of land, jewellery, cars, a farm, a flat, a house or any property which has a potential of having monetary value in the market. But this limits the scope and vision (...)</p>
						</li>
						<li class="box">
							<h4><a href="#">Prevent diseases by washing your hands before eating</a></h4>
							<div class="metadata">
								<time datetime="2014-04-13">13.09.21</time>
								<span>Akhil</span>
							</div>
							<p>Whether at home or abroad, proper hand-washing is an important key to preventing foodborne illness (...)</p>
						</li>
						</ul>
					</div>
				</aside>
				<!-- / sidebar -->
			</div>
		</div>
		<div class="top-blue-border"></div>
		<footer id="footer">
			<div class="footer-holder">
				<div class="footer-frame">
					<div class="footer-content">
						<div class="col-holder">
							<div class="col_wrap">
								<div class="col">
									<h3>Our address</h3>
									<address class="map">Sateesh Supari Street, Hyderabad</address>
									<address class="mail"><a href="mailto:contact@kidschool.com">contact@lela.com</a></address>
									<address class="phone">+91 9876789879</address>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Latest posts</h3>
									<ul class="posts">
										<li><a href="#">Staying healthy is very important.</a></li>
										<li><a href="#">Health is wealth!</a></li>
										<li><a href="#">Preventing diseases.</a></li>
										<!-- <li><a href="#">Molestias excepturi sint occaecati</a></li> -->
										<!-- <li><a href="#">Cupiditate provident similique</a></li> -->
									</ul>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Follow us</h3>
									<p class="social">Make sure to follow us on below platforms to get updates.</p>
									<ul class="social">
										<li><a class="facebook" href="#">Facebook</a></li>
										<li><a class="google" href="#">Google+</a></li>
										<li><a class="twitter" href="#">Twitter</a></li>
										<li><a class="pinterest" href="#">Pinterest</a></li>
									</ul>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Newsletter</h3>
									<p class="form-newsletter">Subscribe our newsletter by providing your email.</p>
									<form action="#" class="form-newsletter">
										<fieldset>
											<input type="email" placeholder="Your email..." />
											<input class="btn white" type="submit" value="Subscribe" />
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="footer-bottom">
						<div class="holder">
							<p>Copyright 2021 Lela Dietician. Designed by Aman. All right reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</footer>	
	</div>
	
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="js/jquery.placeholder.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>