<!DOCTYPE html>
<!--[if lte IE 8]> <html class="oldie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no">
	<title>Lela Health - Pregnancy</title>
	<link href='http://fonts.googleapis.com/css?family=Gochi+Hand|Arvo:400,700' rel='stylesheet' type='text/css'>
	<link href="css/jquery.bxslider.css" rel="stylesheet" />
	<link rel="stylesheet" href="../static/css/style_h.css" />
	<link rel = "icon" href = "https://i.postimg.cc/wxfykpRf/lelalogo.png" type = "image/x-icon">
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="wrapper" class="events">
		<div class="wrapper-holder">
			<header id="header">
				<div class="left-part"></div>
				<a id="logo" href="/"></a>
				<div class="bar-holder">
					<a class="menu_trigger" href="#">menu</a>
					<nav id="nav">
						<ul>
							<!-- <li><a href="/h_about">About us</a></li> -->
							<li><a class="active" href="/h_events">Events</a></li>
							<li><a href="/h_index">Home</a></li>
							<li><a href="/h_gallery">Gallery</a></li>

						</ul>
					</nav>
				</div>
			</header>
			<div class="dvdr"></div>
			<div class="container">
				<section id="main">
					<h1>PREGNANCY</h1>
					<ul>
					<li class="event-description">
						<h1><a href="#">Breastfeeding</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-04-17T09:00">17 Apr 2014 
							<span>09:00 AM</span></time>
							<span>Lorem ipsum dolor</span> -->
						</div>
						<p>Breastfeeding requires extra nutrition, making healthy eating just as important post-pregnancy. Compared to women who are not, women who are exclusively breastfeeding use 400 to 500 calories daily to make the full amount of milk most babies need from birth to 6 months. Two-thirds of those calories should come from meals and snacks containing foods from all five food groups. The remaining calories come from the weight gained during pregnancy. While many women find breastfeeding helps them lose weight, weight loss varies among mothers depending on physical activity, the amount of weight gained during pregnancy and how much breast milk is produced.

							A slow, gradual weight loss of 1 pound per week or 4 pounds per month is a safe goal for breastfeeding moms who want to return to their pre-pregnancy weight. Women who eat less than 1,800 calories per day may reduce the amount of milk their bodies make. Stress, anxiety and fatigue also can decrease milk production. Do yourself and your baby a favor — relax and sit down to eat three meals per day. Be sure to drink plenty of fluids and choose healthy snacks between meals. Moderate-intensity physical activity, such as brisk walking, also is good for you and will not reduce milk volume. </p>
					</li>
					<li class="event-description">
						<h1><a href="#">Fertility and Reproduction</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-04-22T09:30">22 Apr 2014 
							<span>09:30 AM</span></time>
							<span>Dolor sit amet</span> -->
						</div>
						<p>Infertility affects about 9% of married women who are of childbearing age, according to a national survey conducted by the Centers for Disease Control and Prevention. While couples can't control all of the causes of infertility, they can control their eating habits. And, nutrition and a healthy body weight for both partners can have a significant impact on the ability to conceive.
							To prepare for pregnancy and enhance fertility, maintain a healthy weight and choose foods that will create a safe and supportive home for your baby's nine-month stay. This should include sources of folic acid, iron, and other important nutrients.
						</p>
					</li>
					<li class="event-description">
						<h1><a href="#">Prenatal Wellness</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-04-25T07:45">25 Apr 2014 
							<span>07:45 AM</span></time>
							<span>Lorem ipsum dolor sit</span> -->
						</div>
						<p>The amount of food a woman needs during pregnancy depends on a number of things including her body mass index, or BMI, before pregnancy, the rate at which she gains weight, age and appetite. All pregnant women should eat a variety of nutrient-rich foods each day. It may also be necessary to take a vitamin and mineral supplement if recommended by a physician.

							Research shows the risk of problems during pregnancy and delivery is lowest when weight gain is kept within a healthy range. Obesity during pregnancy can be risky for both mother and child, with some risks including gestational diabetes, gestational hypertension (high blood pressure), Cesarean delivery, birth defects and even fetal death.
							</p>
					</li>
					<li class="event-description">
						<h1><a href="#">What to Eat When Expecting</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-05-03T09:00">03 May 2014 
							<span>09:00 AM</span></time>
							<span>Aliquam erat volutpat</span> -->
						</div>
						<p>The Omega-3 fatty acids are essential fats. If you're pregnant, they may take on a greater level of "essential-ness." Alpha-linolenic acid, or ALA, and linoleic acid can only be gotten from your diet but they may help make two other types of fatty acids, eicosapentaenoic acid, or EPA, and docosahexaenoic acid, or DHA. Many studies suggest these fats, particularly EPA and DHA, bring several benefits to both moms-to-be and the babies they carry.

							Fish is the richest food source of DHA and EPA, but most Americans eat very little seafood. The 2020-2025 Dietary Guidelines for Americans recommend women who are pregnant or breastfeeding consume at least 8 and up to 12 ounces per week of a variety of DHA-rich seafood low in mercury. This amount is associated with improved infant health outcomes. Too much mercury in the body during pregnancy can harm a developing baby's brain and nervous system.</p>
					</li>
					<!-- <li class="event-description">
						<h2><a href="#">Libero tempore cum soluta nobis est eligendi optio cumque</a></h2>
						<div class="metadata">
							<time datetime="2014-05-08T07:50">08 May 2014 
							<span>07:50 AM</span></time>
							<span>Lorem ipsum</span>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In placerat ipsum dui, quis posuere urna fermentum nec. Aliquam erat volutpat. Quisque pellentesque nulla dui, in rhoncus dui vestibulum ac. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque convallis, sapien in tempus pharetra, leo lectus ultrices purus, vitae vestibulum arcu velit at leo. </p>
					</li> -->
					</ul>
				</section>
				 <aside id="sidebar">
					
					<div class="widget-boxes news">
						<h3>Latest Posts</h3>
						<ul>
						<li class="box">
							<h4><a href="#">Staying healthy is very important</a></h4>
							<div class="metadata">
								<time datetime="2014-04-17">17.08.21</time>
								<span>Pranavi J</span>
							</div>
							<p>Whenever in doubt, don't drink tap or well water or anything that was made with it, including fountain drinks. Your best bet is to opt for sealed, bottled beverages (...)</p>
						</li>
						<li class="box">
							<h4><a href="#">Health is wealth!</a></h4>
							<div class="metadata">
								<time datetime="2014-04-16">16.08.21</time>
								<span>Mounika</span>
							</div>
							<p>For the majority of us ‘Wealth’ means having lots of money, a big piece of land, jewellery, cars, a farm, a flat, a house or any property which has a potential of having monetary value in the market. But this limits the scope and vision (...)</p>
						</li>
						<li class="box">
							<h4><a href="#">Prevent diseases by washing your hands before eating</a></h4>
							<div class="metadata">
								<time datetime="2014-04-13">13.09.21</time>
								<span>Akhil</span>
							</div>
							<p>Whether at home or abroad, proper hand-washing is an important key to preventing foodborne illness (...)</p>
						</li>
						</ul>
					</div>
				</aside>
				<!-- / sidebar -->
			</div>
		</div>
		<div class="top-blue-border"></div>
		<footer id="footer">
			<div class="footer-holder">
				<div class="footer-frame">
					<div class="footer-content">
						<div class="col-holder">
							<div class="col_wrap">
								<div class="col">
									<h3>Our address</h3>
									<address class="map">Sateesh Supari Street, Hyderabad</address>
									<address class="mail"><a href="mailto:contact@kidschool.com">contact@lela.com</a></address>
									<address class="phone">+91 9876789879</address>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Latest posts</h3>
									<ul class="posts">
										<li><a href="#">Staying healthy is very important.</a></li>
										<li><a href="#">Health is wealth!</a></li>
										<li><a href="#">Preventing diseases.</a></li>
										<!-- <li><a href="#">Molestias excepturi sint occaecati</a></li> -->
										<!-- <li><a href="#">Cupiditate provident similique</a></li> -->
									</ul>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Follow us</h3>
									<p class="social">Make sure to follow us on below platforms to get updates.</p>
									<ul class="social">
										<li><a class="facebook" href="#">Facebook</a></li>
										<li><a class="google" href="#">Google+</a></li>
										<li><a class="twitter" href="#">Twitter</a></li>
										<li><a class="pinterest" href="#">Pinterest</a></li>
									</ul>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Newsletter</h3>
									<p class="form-newsletter">Subscribe our newsletter by providing your email.</p>
									<form action="#" class="form-newsletter">
										<fieldset>
											<input type="email" placeholder="Your email..." />
											<input class="btn white" type="submit" value="Subscribe" />
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="footer-bottom">
						<div class="holder">
							<p>Copyright 2021 Lela Dietician. Designed by Aman. All right reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</footer>	
	</div>
	
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="js/jquery.placeholder.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>