<!DOCTYPE html>
<!--[if lte IE 8]> <html class="oldie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no">
	<title>Lela Health - Wellness</title>
	<link href='http://fonts.googleapis.com/css?family=Gochi+Hand|Arvo:400,700' rel='stylesheet' type='text/css'>
	<link href="css/jquery.bxslider.css" rel="stylesheet" />
	<link rel="stylesheet" href="../static/css/style_h.css" />
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="wrapper" class="events">
		<div class="wrapper-holder">
			<header id="header">
				<div class="left-part"></div>
				<a id="logo" href="/"></a>
				<div class="bar-holder">
					<a class="menu_trigger" href="#">menu</a>
					<nav id="nav">
						<ul>
							<!-- <li><a href="/h_about">About us</a></li> -->
							<li><a class="active" href="/h_events">Events</a></li>
							<li><a href="/h_index">Home</a></li>
							<li><a href="/h_gallery">Gallery</a></li>
							
						</ul>
					</nav>
				</div>
			</header>
			<div class="dvdr"></div>
			<div class="container">
				<section id="main">
					<h1>WELLNESS</h1>
					<ul>
					<li class="event-description">
						<h1><a href="#">Irritable Bowel Syndrome</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-04-17T09:00">17 Apr 2014 
							<span>09:00 AM</span></time>
							<span>Lorem ipsum dolor</span> -->
						</div>
						<p>Irritable bowel syndrome, or IBS, is a chronic or intermittent disorder of gastrointestinal functioning.
							 IBS is associated with a group of symptoms that affect the large and small intestines. 
							 It is estimated that IBS affects 10 to 15% of adults. Though no specific cause is known, several factors may contribute to IBS, including genetics, lifestyle, allergies, infection or a change in intestinal bacteria type or amount. Certain foods and stress may trigger symptoms. Diet changes, stress management and a healthy, active lifestyle may help manage IBS. </p>
					</li>
					<li class="event-description">
						<h1><a href="#">Crohn's Disease and Diet</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-04-22T09:30">22 Apr 2014 
							<span>09:30 AM</span></time>
							<span>Dolor sit amet</span> -->
						</div>
						<p>Crohn's disease and ulcerative colitis are two types of conditions known as inflammatory bowel disease, or IBD. 
							Crohn’s disease is defined by chronic inflammation and irritation of the digestive tract. Ulcerative colitis also results in inflammation, but specifically in the colon and rectum. According to the Crohn's and Colitis Foundation of America, an estimated 3 million Americans suffer from IBD.
							 The cause isn’t fully understood but the condition is known to run in families. 
							In addition, one's immune system and environment appear to play a role in the development of IBD.</p>
					</li>
					<li class="event-description">
						<h1><a href="#">Nutrition for Young Men</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-04-25T07:45">25 Apr 2014 
							<span>07:45 AM</span></time>
							<span>Lorem ipsum dolor sit</span> -->
						</div>
						<p>For many young men, nutrition isn't always a focus. There are many transitions going on at this point in life. Busy schedules and new environments can lead to unhealthful eating habits such as skipping meals or snacks, eating nothing but fast food, overeating, and drinking excessive amounts of sugar-sweetened beverages or alcohol. Along with inconsistent eating patterns, young men may experience fluctuations in weight and a lack of energy.

							Making healthful choices to fuel a young, active mind and body starts with balance. Follow a nutritious eating plan featuring lean protein, vegetables, fruits, whole grains and low-fat or fat-free sources of dairy. By eating well now, you can lessen your risk of health-related problems later.</p>
					</li>
					<li class="event-description">
						<h1><a href="#">Heart and Cardiovascular Health</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-05-03T09:00">03 May 2014 
							<span>09:00 AM</span></time>
							<span>Aliquam erat volutpat</span> -->
						</div>
						<p>According to the Centers for Disease Control and Prevention, nearly half of U.S. adults have high blood pressure, a major risk factor for heart disease, stroke, congestive heart failure and kidney disease.

							The CDC defines a normal blood pressure as a systolic (top) number of less than 120 mmHg and a diastolic (bottom) number of less than 80 mmHg. People with systolic readings of 120 to 139 mmHg and diastolic readings of 80 to 89 mmHg would be at risk for high blood pressure or could be told they have prehypertension. A diagnosis of high blood pressure is usually confirmed by a doctor after a patient has had more than one elevated reading, which, for most people, would be 140 mmHg or higher over 90 mmHg or higher.
							
							People with high blood pressure should consult a physician and follow a heart healthy diet, such as the Dietary Approaches to Stop Hypertension (DASH) eating plan.
							
							
							Sodium intake should be reduced to 2,300 milligrams per day for individuals 14 years of age and older. Adults with prehypertension and hypertension may benefit from reducing their sodium intake further. Lowering sodium intake can be especially beneficial in combination with the DASH eating plan. And, according to the 2020-2025 Dietary Guidelines for Americans, research has shown a direct relationship between sodium intake and blood pressure, and decreasing sodium intake "can help improve blood pressure control and reduce risk of hypertension"
							
							To get an assortment of nutrients, eat a variety of colors and be adventurous in the produce section by choosing a colorful fruit or vegetable you have never tried before.Tweet this You can also encourage your family to pick a new fruit or vegetable each time you shop, as well as including fruits and vegetables high in potassium such as tomatoes, beans and oranges.
							
							</p>
					</li>
					<!-- <li class="event-description">
						<h2><a href="#">Libero tempore cum soluta nobis est eligendi optio cumque</a></h2>
						<div class="metadata">
							<time datetime="2014-05-08T07:50">08 May 2014 
							<span>07:50 AM</span></time>
							<span>Lorem ipsum</span>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In placerat ipsum dui, quis posuere urna fermentum nec. Aliquam erat volutpat. Quisque pellentesque nulla dui, in rhoncus dui vestibulum ac. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque convallis, sapien in tempus pharetra, leo lectus ultrices purus, vitae vestibulum arcu velit at leo. </p>
					</li> -->
					</ul>
				</section>
				 <aside id="sidebar">
					
					<div class="widget-boxes news">
						<h3>Latest Posts</h3>
						<ul>
						<li class="box">
							<h4><a href="#">Staying healthy is very important</a></h4>
							<div class="metadata">
								<time datetime="2014-04-17">17.08.21</time>
								<span>Pranavi J</span>
							</div>
							<p>Whenever in doubt, don't drink tap or well water or anything that was made with it, including fountain drinks. Your best bet is to opt for sealed, bottled beverages (...)</p>
						</li>
						<li class="box">
							<h4><a href="#">Health is wealth!</a></h4>
							<div class="metadata">
								<time datetime="2014-04-16">16.08.21</time>
								<span>Mounika</span>
							</div>
							<p>For the majority of us ‘Wealth’ means having lots of money, a big piece of land, jewellery, cars, a farm, a flat, a house or any property which has a potential of having monetary value in the market. But this limits the scope and vision (...)</p>
						</li>
						<li class="box">
							<h4><a href="#">Prevent diseases by washing your hands before eating</a></h4>
							<div class="metadata">
								<time datetime="2014-04-13">13.09.21</time>
								<span>Akhil</span>
							</div>
							<p>Whether at home or abroad, proper hand-washing is an important key to preventing foodborne illness (...)</p>
						</li>
						</ul>
					</div>
				</aside>
				<!-- / sidebar -->
			</div>
		</div>
		<div class="top-blue-border"></div>
		<footer id="footer">
			<div class="footer-holder">
				<div class="footer-frame">
					<div class="footer-content">
						<div class="col-holder">
							<div class="col_wrap">
								<div class="col">
									<h3>Our address</h3>
									<address class="map">Sateesh Supari Street, Hyderabad</address>
									<address class="mail"><a href="mailto:contact@kidschool.com">contact@lela.com</a></address>
									<address class="phone">+91 9876789879</address>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Latest posts</h3>
									<ul class="posts">
										<li><a href="#">Staying healthy is very important.</a></li>
										<li><a href="#">Health is wealth!</a></li>
										<li><a href="#">Preventing diseases.</a></li>
										<!-- <li><a href="#">Molestias excepturi sint occaecati</a></li> -->
										<!-- <li><a href="#">Cupiditate provident similique</a></li> -->
									</ul>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Follow us</h3>
									<p class="social">Make sure to follow us on below platforms to get updates.</p>
									<ul class="social">
										<li><a class="facebook" href="#">Facebook</a></li>
										<li><a class="google" href="#">Google+</a></li>
										<li><a class="twitter" href="#">Twitter</a></li>
										<li><a class="pinterest" href="#">Pinterest</a></li>
									</ul>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Newsletter</h3>
									<p class="form-newsletter">Subscribe our newsletter by providing your email.</p>
									<form action="#" class="form-newsletter">
										<fieldset>
											<input type="email" placeholder="Your email..." />
											<input class="btn white" type="submit" value="Subscribe" />
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="footer-bottom">
						<div class="holder">
							<p>Copyright 2021 Lela Dietician. Designed by Aman. All right reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</footer>	
	</div>
	
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="js/jquery.placeholder.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>