<!DOCTYPE html>
<!--[if lte IE 8]> <html class="oldie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no">
	<title>Lela Health - Weightloss</title>
	<link href='http://fonts.googleapis.com/css?family=Gochi+Hand|Arvo:400,700' rel='stylesheet' type='text/css'>
	<link href="css/jquery.bxslider.css" rel="stylesheet" />
	<link rel="stylesheet" href="../static/css/style_h.css" />
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="wrapper" class="events">
		<div class="wrapper-holder">
			<header id="header">
				<div class="left-part"></div>
				<a id="logo" href="/"></a>
				<div class="bar-holder">
					<a class="menu_trigger" href="#">menu</a>
					<nav id="nav">
						<ul>
							<!-- <li><a href="/h_about">About us</a></li> -->
							<li><a class="active" href="h_events">Events</a></li>
							<li><a href="/h_index">Home</a></li>
							<li><a href="/h_gallery">Gallery</a></li>

						</ul>
					</nav>
				</div>
			</header>
			<div class="dvdr"></div>
			<div class="container">
				<section id="main">
					<h1>WEIGHTLOSS</h1>
					<ul>
					<li class="event-description">
						<h1><a href="#">7 Tips for Healthy Dining Out</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-04-17T09:00">17 Apr 2014 
							<span>09:00 AM</span></time>
							<span>Lorem ipsum dolor</span> -->
						</div>
						<p>Eat a light dinner if you ate a big lunch that day. Or, if you know ahead of time that you're going to a restaurant, plan to have lighter meals during the day.
							Make a commitment to eat slowly. It takes about 20 minutes for your brain to get the message from your stomach that you are no longer hungry. Fast eaters often are over eaters, while slow eaters tend to eat less and are still satisfied.
							Make physical activity part of dining out. All you need is a comfortable pair of shoes. Pick a restaurant that's a 10- or 15-minute walk. You'll get your meal, 30 minutes of physical activity and avoid the parking hassles. Or, get moving as a group before or after eating. A brisk walk before a meal gives you time to chat. A stroll afterward helps your digestion. </p>
					</li>
					<li class="event-description">
						<h1><a href="#">Overweight and Obesity</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-04-22T09:30">22 Apr 2014 
							<span>09:30 AM</span></time>
							<span>Dolor sit amet</span> -->
						</div>
						<p>Having a body mass index (BMI) that is considered obese is often associated with having too much fat in your body. Carrying too much body fat may have harmful effects on your health, so BMI is used as a screening tool.

					
							
							As is the case with adults, the obesity rate among children is too high. Studies have found that children with obesity are much more likely to have obesity as adults and are at a much greater risk for health problems now and later in life.
							
							Many people have found long-term success by working with a registered dietitian nutritionist. Research shows that at least two sessions per month with an RDN lead to successful weight loss and at least one session per month for weight loss maintenance. Because no two people are alike, approaches to weight loss must be tailored to each person. An RDN can do this for you — she or he will create a plan based on your medical history, lifestyle and food preferences. 
							Together, you can explore how your habits, emotions and environmental cues affect how you eat.							

						</p>
					</li>
					<li class="event-description">
						<h1><a href="#">Losing Weight While Breastfeeding</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-04-25T07:45">25 Apr 2014 
							<span>07:45 AM</span></time>
							<span>Lorem ipsum dolor sit</span> -->
						</div>
						<p>Breastfeeding requires extra nutrition, making healthy eating just as important post-pregnancy. Compared to women who are not, women who are exclusively breastfeeding use 400 to 500 calories daily to make the full amount of milk most babies need from birth to 6 months. Two-thirds of those calories should come from meals and snacks containing foods from all five food groups. The remaining calories come from the weight gained during pregnancy. While many women find breastfeeding helps them lose weight, weight loss varies among mothers depending on physical activity, the amount of weight gained during pregnancy and how much breast milk is produced.

							A slow, gradual weight loss of 1 pound per week or 4 pounds per month is a safe goal for breastfeeding moms who want to return to their pre-pregnancy weight. Women who eat less than 1,800 calories per day may reduce the amount of milk their bodies make. Stress, anxiety and fatigue also can decrease milk production. Do yourself and your baby a favor — relax and sit down to eat three meals per day. Be sure to drink plenty of fluids and choose healthy snacks between meals. Moderate-intensity physical activity, such as brisk walking, also is good for you and will not reduce milk volume.</p>
					</li>
					<li class="event-description">
						<h1><a href="#">A Cheat Sheet for Success</a></h1>
						<div class="metadata">
							<!-- <time datetime="2014-05-03T09:00">03 May 2014 
							<span>09:00 AM</span></time>
							<span>Aliquam erat volutpat</span> -->
						</div>
						<p>When children are young, parents and other caregivers are responsible for providing an environment that helps them maintain a lifestyle that is beneficial to their health. You can help your child by doing the following:

							Be a positive role model for healthful eating and activity habits.
							Provide a calm, reassuring atmosphere at regular meal and snack times.
							Set appropriate limits on screen entertainment like television, tablets and video games.
							Involve the whole family in fun physical activities.
							Help children develop and maintain a positive body image.
							Avoid restrictive diets and excessive exercise regimens.
							When it comes to nutrition and fitness, the role of parents is the same no matter the size of their children. A healthy weight for kids is about much more than numbers. It is about healthy behaviors, such as enjoying a variety of foods and activities for strength, flexibility and aerobic capacity.

						</p>
					</li>
					<!-- <li class="event-description">
						<h2><a href="#">Libero tempore cum soluta nobis est eligendi optio cumque</a></h2>
						<div class="metadata">
							<time datetime="2014-05-08T07:50">08 May 2014 
							<span>07:50 AM</span></time>
							<span>Lorem ipsum</span>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In placerat ipsum dui, quis posuere urna fermentum nec. Aliquam erat volutpat. Quisque pellentesque nulla dui, in rhoncus dui vestibulum ac. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque convallis, sapien in tempus pharetra, leo lectus ultrices purus, vitae vestibulum arcu velit at leo. </p>
					</li> -->
					</ul>
				</section>
				 <aside id="sidebar">
					
					<div class="widget-boxes news">
						<h3>Latest Posts</h3>
						<ul>
						<li class="box">
							<h4><a href="#">Staying healthy is very important</a></h4>
							<div class="metadata">
								<time datetime="2014-04-17">17.08.21</time>
								<span>Pranavi J</span>
							</div>
							<p>Whenever in doubt, don't drink tap or well water or anything that was made with it, including fountain drinks. Your best bet is to opt for sealed, bottled beverages (...)</p>
						</li>
						<li class="box">
							<h4><a href="#">Health is wealth!</a></h4>
							<div class="metadata">
								<time datetime="2014-04-16">16.08.21</time>
								<span>Mounika</span>
							</div>
							<p>For the majority of us ‘Wealth’ means having lots of money, a big piece of land, jewellery, cars, a farm, a flat, a house or any property which has a potential of having monetary value in the market. But this limits the scope and vision (...)</p>
						</li>
						<li class="box">
							<h4><a href="#">Prevent diseases by washing your hands before eating</a></h4>
							<div class="metadata">
								<time datetime="2014-04-13">13.09.21</time>
								<span>Akhil</span>
							</div>
							<p>Whether at home or abroad, proper hand-washing is an important key to preventing foodborne illness (...)</p>
						</li>
						</ul>
					</div>
				</aside>
				<!-- / sidebar -->
			</div>
		</div>
		<div class="top-blue-border"></div>
		<footer id="footer">
			<div class="footer-holder">
				<div class="footer-frame">
					<div class="footer-content">
						<div class="col-holder">
							<div class="col_wrap">
								<div class="col">
									<h3>Our address</h3>
									<address class="map">Sateesh Supari Street, Hyderabad</address>
									<address class="mail"><a href="mailto:contact@kidschool.com">contact@lela.com</a></address>
									<address class="phone">+91 9876789879</address>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Latest posts</h3>
									<ul class="posts">
										<li><a href="#">Staying healthy is very important.</a></li>
										<li><a href="#">Health is wealth!</a></li>
										<li><a href="#">Preventing diseases.</a></li>
										<!-- <li><a href="#">Molestias excepturi sint occaecati</a></li> -->
										<!-- <li><a href="#">Cupiditate provident similique</a></li> -->
									</ul>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Follow us</h3>
									<p class="social">Make sure to follow us on below platforms to get updates.</p>
									<ul class="social">
										<li><a class="facebook" href="#">Facebook</a></li>
										<li><a class="google" href="#">Google+</a></li>
										<li><a class="twitter" href="#">Twitter</a></li>
										<li><a class="pinterest" href="#">Pinterest</a></li>
									</ul>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Newsletter</h3>
									<p class="form-newsletter">Subscribe our newsletter by providing your email.</p>
									<form action="#" class="form-newsletter">
										<fieldset>
											<input type="email" placeholder="Your email..." />
											<input class="btn white" type="submit" value="Subscribe" />
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="footer-bottom">
						<div class="holder">
							<p>Copyright 2021 Lela Dietician. Designed by Aman. All right reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</footer>	
	</div>
	
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="js/jquery.placeholder.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>