<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>Lela | Home</title>
		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|" rel="stylesheet" type="text/css">
		<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href="fonts/iconmoon.css" rel="stylesheet" type="text/css">
		<!-- Loading main css file -->
		<link rel="stylesheet" href="/static/style.css">
		<link rel = "icon" href = "https://i.postimg.cc/wxfykpRf/lelalogo.png" type = "image/x-icon">
		
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

	</head>


	<body class="homepage">
		
		<div id="site-content">
			<header class="site-header">
				<div class="container">
					<a id="branding" class="pull-left" href="/">
						<img src="https://i.postimg.cc/wxfykpRf/lelalogo.png" height="80px" width= "62px">
						<h1 class="site-title">Lela</h1>
					</a>
					<!-- Default snippet for navigation -->
					<div class="main-navigation pull-right">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item"><a id="about" href="/about">About me</a></li>
							<li class="menu-item"><a id="home" href="/enterdetails">My Diet</a></li>
							<li class="menu-item"><a id="recipe" href="/recipe">Recipes</a></li>
							<li class="menu-item"><a id="mainmenu" href="/">Main Menu</a></li>
							<!-- <li class="menu-item"><a id="logoutbutton" href="/logoutbutton">Logout</a></li> -->
						</ul> <!-- .menu -->
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>
				</div>
			</header> <!-- .site-header -->

			<div class="hero">
				<div class="container">
					<img src="https://i.postimg.cc/wxfykpRf/lelalogo.png" height="80px" width= "62px">
					<h1 class="site-title">Lela</h1>
					<small class="site-description">Professional Dietician</small>
				</div>
			</div>

			<main class="main-content">
				<div class="fullwidth-block cooking-section category-block">
					<div class="container">
						<figure><img src="https://i.postimg.cc/529Wx6mp/cooking-index.png" alt="cooking"></figure>
						<div class="category-content">
							<h1 class="category-title">Cooking food at home.</h1>
							<p>When we cook at home, we are in control. Many commercially prepared foods are high in fat, salt, and sugar. When we prepare our own food, we know exactly which ingredients and how much of each are going into our food. Preparing your food at home can be especially beneficial if you or a family member has a food allergy. Because you are in control in your own kitchen, you can reduce the risk of an allergic reaction.
							Many restaurants and fast food joints offer portions that are much larger than necessary. And the problem is, when food is in front of you, chances are you’ll eat it. When you dine in, you can regulate the amount of food served for dinner, eliminating unnecessary temptation.</p>
							
						</div> <!-- .category-content -->
					</div>
				</div> <!-- .cooking-section -->
				<div class="fullwidth-block restaurant-section category-block">
					<div class="container">
						<figure><img src="https://i.postimg.cc/R0NrHyyH/meat-index.png" alt="meat"></figure>
						<div class="category-content">
							<h1 class="category-title">Meat and Poultry</h1>
							<p>Protein found in meat and poultry is “complete” because it contains all the amino acids essential for health. Meat, fish and poultry contains heme iron, which helps to prevent anemia because the body absorbs this iron better than non-heme iron found in plant foods such as vegetables.
								 Nutrients in meat, including iron and zinc are typically more easily absorbed and used by the body. High- quality protein, e.g. meat and poultry, have been shown to prevent muscle loss as we age more effectively than other protein foods. Meatless diets have been shown to contain lower amounts of calcium, vitamin D, vitamin B-12, protein, and omega-3 fatty acids, which have important roles in maintaining bone health. Mounting, recent evidence shows that lean meat protein could help maintain healthy cardiovascular function. </p>
							
						</div> <!-- .category-content -->
					</div>
				</div> <!-- .restaurant-section -->
				<div class="fullwidth-block fruits-section category-block">
					<div class="container">
						<figure><img src="https://i.postimg.cc/pL0byRGv/fruits-index.png" alt="fruits"></figure>
						<div class="category-content">
							<h1 class="category-title">Fruits</h1>
							<p>Fruits are an excellent source of essential vitamins and minerals, and they are high in fiber. Fruits also provide a wide range of health-boosting antioxidants, including flavonoids. Eating a diet high in fruits and vegetables can reduce a person’s risk of developing heart disease, cancer, inflammation, and diabetes. Citrus fruits and berries may be especially powerful for preventing disease. 
								A 2014 studyTrusted Source ranked “powerhouse” fruit and vegetables by high nutrient density and low calories. Lemons came out top of the list, followed by strawberry, orange, lime, and pink and red grapefruit. Eating more fruit is an excellent way to improve overall health and reduce the risk of disease.
							</p>
							
						</div> <!-- .category-content -->
					</div>
				</div> <!-- .fruits-section -->
				<div class="fullwidth-block vegetables-section category-block">
					<div class="container">
						<figure><img src="https://i.postimg.cc/BvyrcNfw/vegetables-index.png" alt="vegetables"></figure>
						<div class="category-content">
							<h1 class="category-title">Vegetables</h1>
							<p>A diet rich in vegetables and fruits can lower blood pressure, reduce the risk of heart disease and stroke, prevent some types of cancer, lower risk of eye and digestive problems, and have a positive effect upon blood sugar, which can help keep appetite in check. Eating non-starchy vegetables and fruits like apples, pears, and green leafy vegetables may even promote weight loss.
							 Their low glycemic loads prevent blood sugar spikes that can increase hunger. At least nine different families of fruits and vegetables exist, each with potentially hundreds of different plant compounds that are beneficial to health. Eat a variety of types and colors of produce in order to give your body the mix of nutrients it needs.</p>
							
						</div> <!-- .category-content -->
					</div>
				</div> <!-- .vegetables-section -->

			</main> <!-- .main-content -->
			
			<footer class="site-footer">
				<div class="container" href="/">
					<img src="https://i.postimg.cc/wxfykpRf/lelalogo.png" height="86px" width= "62px">
					<nav class="footer-navigation">
						<a id="about" href="/about">About me</a>
						<a id="home" href="/enterdetails">My Diet</a>
						<a id="recipe" href="/recipe">Recipes</a>
						<!-- <a id="logoutbutton" href="/logoutbutton">Logout</a> -->
					</nav>
					 
					<div class="colophon">
						 <p>Copyright 2021 Lela Dietician. Designed by Aman. All right reserved.</p>
					</div>
				</div>
			</footer>

		</div>

		

		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/app.js"></script>
		
	</body>

</html>