<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>Lela | Recipes</title>
		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|" rel="stylesheet" type="text/css">
		<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href="fonts/iconmoon.css" rel="stylesheet" type="text/css">
		<!-- Loading main css file -->
		<link rel="stylesheet" href="../static/style.css">
		<link rel = "icon" href = "https://i.postimg.cc/wxfykpRf/lelalogo.png" type = "image/x-icon">
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

	</head>


	<body>
		
		<div id="site-content">
			<header class="site-header">
				<div class="container">
					<a id="branding" class="pull-left" href="/">
						<img src="https://i.postimg.cc/wxfykpRf/lelalogo.png" height="80px" width= "62px">
						<h1 class="site-title">Lela</h1>
					</a>
					<!-- Default snippet for navigation -->
					<div class="main-navigation pull-right">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item"><a id="about" href="/about">About me</a></li>
							<li class="menu-item"><a id="home" href="/enterdetails">My Diet</a></li>
							<li class="menu-item current-menu-item"><a id="recipe" href="/recipe">Recipes</a></li>
							<li class="menu-item"><a id="mainmenu" href="/">Main Menu</a></li>
							<!-- <li class="menu-item"><a id="logoutbutton" href="/logoutbutton">Logout</a></li> -->
						</ul> <!-- .menu -->
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>
				</div>
			</header> <!-- .site-header -->

			<main class="main-content">
				
				<div class="content">
					<div class="container">
						
						<h2 class="entry-title">THE GROUNDWORK OF ALL HAPPINESS IS HEALTH.</h2>
						<p>Physical fitness is not the sole basis of being healthy; being healthy means being mentally and emotionally fit. Being healthy should be part of your overall lifestyle.
						Living a healthy lifestyle can help prevent chronic diseases and long-term illnesses. Feeling good about yourself and taking care of your health are important for your self-esteem and self-image.
						Maintain a healthy lifestyle by doing what is right for your body. The following are few recipes you can try.</p>

						<div class="recipes-list">
							<article class="recipe">
								<figure class="recipe-image"><img src="https://img.delicious.com.au/6zBb3dpa/del/2020/05/easy-fish-curry-133188-1.jpg" alt="Food 1"></figure>
								<div class="recipe-detail">
									<h2 class="recipe-title">Easy fish curry.</h2>
									<p>Heat oil in a large pan over medium heat. Add ginger and white part of spring onion and cook, stirring, for 5-6 minutes until softened. Stir in curry leaves, chilli and spices, then add tomato, coconut milk and 1/2 cup (125ml) water, bring to a simmer and cook for 15 minutes or until slightly reduced.
										Add the fish and cook for a further 8-10 minutes until fish is just cooked. Season with fish sauce, lime juice and sugar. Scatter with fried curry leaves and finely sliced green spring onion and serve with lime wedges and roti.
									</p>
									<div class="recipe-meta">
										<span class="time"><img src="https://i.postimg.cc/bvwdnVNc/icon-time.png"> 30 min</span>
										<span class="calorie"><img src="https://i.postimg.cc/x80Zjm3R/icon-pie-chart.png"> 220 cal</span>
										
									</div>
								</div>
							</article>
							<article class="recipe">
								<figure class="recipe-image"><img src="https://img.delicious.com.au/c-pM-6DO/del/2020/12/ultra-green-iceberg-and-pea-salad-with-minty-dressing-143578-2.jpg" alt="Food 2"></figure>
								<div class="recipe-detail">
									<h2 class="recipe-title">Ultra-green iceberg and pea salad.</h2>
									<p>Place peas in a saucepan of boiling water and blanch it. Drain and refresh in iced water. Combine in a large bowl with lettuce and set aside.
										Place cucumber, onion, vinegar, sugar and a pinch of salt in a bowl, mix to combine and set aside to lightly pickle for 5 minutes.
										For the minty dressing, place all the ingredients in a blender and whiz until smooth and bright green. Arrange lettuce in a large bowl or platter and drizzle with minty dressing to taste. Scatter with pickled cucumber, onion and mint.
									</p>
									<div class="recipe-meta">
										<span class="time"><img src="https://i.postimg.cc/bvwdnVNc/icon-time.png"> 15 min</span>
										<span class="calorie"><img src="https://i.postimg.cc/x80Zjm3R/icon-pie-chart.png"> 90 cal</span>
										
									</div>
								</div>
							</article>
							<article class="recipe">
								<figure class="recipe-image"><img src="https://img.delicious.com.au/by2_GugO/del/2017/12/sesame-butter-radishes-with-lemon-57418-2.jpg" alt="Food 3"></figure>
								<div class="recipe-detail">
									<h2 class="recipe-title">Sesame butter radishes with lemon.</h2>
									<p>Melt butter and oil in large frypan over medium-high heat and cook for 3 minutes or until nut brown. Add radish and cook, tossing pan, for 6-8 minutes or until tender. Spoon into a serving bowl. 
									 Drizzle over lemon juice and scatter with sesame seeds and salad leaves. Serve with sourdough and extra lemon.</p>
									<div class="recipe-meta">
										<span class="time"><img src="https://i.postimg.cc/bvwdnVNc/icon-time.png"> 10 min</span>
										<span class="calorie"><img src="https://i.postimg.cc/x80Zjm3R/icon-pie-chart.png"> 130 cal</span>
										
									</div>
								</div>
							</article>
							<article class="recipe">
								<figure class="recipe-image"><img src="https://img.delicious.com.au/AyColIEn/del/2015/10/mexican-eggs-with-potato-hash-14587-1.jpg" alt="Food 4"></figure>
								<div class="recipe-detail">
									<h2 class="recipe-title">Eggs with potato hash.</h2>
									<p>Heat 1 tablespoon oil in a large frypan. Add the chicken & cook until browned. Stir in the chipotle sauce, tomatoes and coriander, season with freshly ground black pepper.
										Place potato in a bowl with the melted butter & stir to combine. Place potato in the pan, flatten & cook each side. Repeat with the remaining 1 tablespoon oil and potato mixture. 
										Using a spoon, make 4 indents in the chicken, then crack an egg into each. Cover and cook for 7 minutes or until whites are cooked. Garnish with the chilli and extra coriander, then serve with the hash.
									</p>
									<div class="recipe-meta">
										<span class="time"><img src="https://i.postimg.cc/bvwdnVNc/icon-time.png"> 25 min</span>
										<span class="calorie"><img src="https://i.postimg.cc/x80Zjm3R/icon-pie-chart.png"> 320 cal</span>
										
									</div>
								</div>
							</article>
							<article class="recipe">
								<figure class="recipe-image"><img src="https://img.delicious.com.au/aorFukZ5/del/2016/03/chopped-chilli-chicken-stir-fry-28400-1.jpg" alt="Food 5"></figure>
								<div class="recipe-detail">
									<h2 class="recipe-title">Chopped chilli chicken stir fry.</h2>
									<p>Heat 2 tbs oil in a wok or large frypan over medium-high heat. Add eggplants, season and cook, stirring, for 3-4 minutes until golden. Remove from pan and set aside. Return pan to medium-high heat with remaining 1 tbs oil. Cook onion, chilli paste and half the chilli and basil, stirring, for 2-3 minutes until softened. Add chicken and cook, breaking up with a spoon, for 10 minutes or until browned. Return the eggplant to pan and toss to warm through.
										Divide rice, chicken and eggs among plates. Top with remaining basil and chilli.</p>
									<div class="recipe-meta">
										<span class="time"><img src="https://i.postimg.cc/bvwdnVNc/icon-time.png"> 20 min</span>
										<span class="calorie"><img src="https://i.postimg.cc/x80Zjm3R/icon-pie-chart.png"> 300 cal</span>
										
									</div>
								</div>
							</article>
						</div>
					</div>
				</div>

			</main> <!-- .main-content -->
			
			<footer class="site-footer">
				<div class="container" href="/">
					<img src="https://i.postimg.cc/wxfykpRf/lelalogo.png" height="80px" width= "62px">
					<nav class="footer-navigation">
						<a id="about" href="/about">About me</a>
						<a id="home" href="/enterdetails">My Diet</a>
						<a id="recipe" href="/recipe">Recipes</a>
						<!-- <a id="logoutbutton" href="/logoutbutton">Logout</a> -->
					</nav>
					 
					<div class="colophon">
						 <p>Copyright 2021 Lela Dietician. Designed by Aman. All right reserved.</p>
					</div>
				</div>
			</footer>

		</div>

		

		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/app.js"></script>
		
	</body>

</html>